<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/bootstrap-reboot.css" />
    <title>Greeshams</title>
</head>

<body>
    <div class="container-fluid" style='padding-top:1em'>
        <div class="row">
            <div class="col-9">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-4">
                            <div class="card">
                                <div class="card-header">
                                    <h5 class='text-center' id="hrm">Human Resource Management</h5>
                                </div>
                                <div class="card-body text-center">
                                    <button class='btn btn-primary' data-toggle="modal" data-target="#login_modal" onclick="fetchingData(hrm)">Proceed</button>
                                </div>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="card">
                                <div class="card-header">
                                    <h5 class='text-center' id="opm">Order Process Management</h5>
                                </div>
                                <div class="card-body text-center">
                                    <button class='btn btn-primary' data-toggle="modal" data-target="#login_modal" onclick="fetchingData(opm)">Proceed</button>
                                </div>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="card">
                                <div class="card-header">
                                    <h5 class='text-center' id="cot">Customer Order Tracking</h5>
                                </div>
                                <div class="card-body text-center">
                                    <button class='btn btn-primary' data-toggle="modal" data-target="#login_modal" onclick="fetchingData(cot)">Proceed</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-4">
                            <div class="card">
                                <div class="card-header">
                                    <h5 class='text-center' id="fam">Finance & Accounts Management</h5>
                                </div>
                                <div class="card-body text-center">
                                    <button class='btn btn-primary' data-toggle="modal" data-target="#login_modal" onclick="fetchingData(fam)">Proceed</button>
                                </div>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="card">
                                <div class="card-header">
                                    <h5 class='text-center' id="otd">Orientation,Training & Development</h5>
                                </div>
                                <div class="card-body text-center">
                                    <button class='btn btn-primary' data-toggle="modal" data-target="#login_modal" onclick="fetchingData(otd)">Proceed</button>
                                </div>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="card">
                                <div class="card-header">
                                    <h5 class='text-center' id="tm">Task Management</h5>
                                </div>
                                <div class="card-body text-center">
                                    <button class='btn btn-primary ' data-toggle="modal" data-target="#login_modal" onclick="fetchingData(tm)">Proceed</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-4">
                            <div class="card">
                                <div class="card-header">
                                    <h5 class='text-center' id="pmc">Preventive Maintenance & Calibration</h5>
                                </div>
                                <div class="card-body text-center">
                                    <button class='btn btn-primary' data-toggle="modal" data-target="#login_modal" onclick="fetchingData(pmc)">Proceed</button>
                                </div>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="card">
                                <div class="card-header">
                                    <h5 class='text-center' id="gp">Gel Portal</h5>
                                </div>
                                <div class="card-body text-center">
                                    <button class='btn btn-primary' data-toggle="modal" data-target="#login_modal" onclick="fetchingData(gp)">Proceed</button>
                                </div>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="card">
                                <div class="card-header">
                                    <h5 class='text-center' id="ep">Employee Portal</h5>
                                </div>
                                <div class="card-body text-center">
                                    <button class='btn btn-primary ' data-toggle="modal" data-target="#login_modal" onclick="fetchingData(ep)">Proceed</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="container" style='margin-bottom:10px;'>
                    <div class="row">
                        <button class='btn btn-primary'>Extension List</button>
                    </div>
                </div>
                <div class="container" style='margin-bottom:10px'>
                    <div class="row">
                        <button class='btn btn-primary'>Emails List</button>
                    </div>
                </div>
                <div class="container" style='margin-bottom:10px'>
                    <div class="card">
                        <div class="card-header">
                            <p>Notice Board</p>
                        </div>
                        <div class="card-body">
                            <p>
                                Aliqua deserunt eiusmod ea exercitation ex nisi labore ullamco dolore. Non exercitation cillum incididunt enim eu cupidatat
                                esse voluptate id aliquip cupidatat. Ullamco dolore commodo consequat velit fugiat aute.
                                Eu ullamco nostrud amet in laboris ullamco nisi enim sunt. In duis dolore id est esse adipisicing.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- proceed modal -->
    <!-- LOGIN Modal -->
    <div class="modal fade" id="login_modal" role="dialog">
        <form action='/modules' method='POST' id="loginForm">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" id="portal"></h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body">
                        <div class="container">
                            <div class="form-group">
                                <label for="usr">Name:</label>
                                <input type="text" class="form-control" name='username'>
                            </div>
                            <div class="form-group">
                                <label for="pwd">Password:</label>
                                <input type="password" class="form-control" name='password'>
                            </div>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button class='btn btn-primary'>Proceed</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>

            </div>
            <!-- Modal content-->
        </form>
    </div>
    <!-- LOGIN Modal -->

        <script>
            
            function fetchingData(e) {
                console.log(actions)                
                // var num = document.getElementById('loginForm');
                document.getElementById('portal').innerHTML = e.innerHTML
                // console.log('==>',num.action)
                document.getElementById('loginForm').action = '/modules/' + e.id;
                var num = document.getElementById('loginForm');
                console.log('==>',num.action)                
            }

        </script>
    <!-- proceed modal end --->
    <script src='/js/jquery-3.2.1.min.js'></script>
    <script src='/js/popper.min.js'></script>
    <script src='/js/bootstrap.min.js'></script>
    <script src='/js/tooltip.js'></script>

</body>

</html>