<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
        crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
        crossorigin="anonymous"></script>
    <meta charset="utf-8">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>
    <title>GREESHAMS</title>
</head>
<script type="text/javascript">
    function abc() {
        var user = document.getElementById("user").value;
        var pass = document.getElementById("pass").value;

        if (user == 'hasan' && pass == '123') {
            alert('Login SuccessFully');
        }


    }
    function check(){
        var user = document.getElementById("user2").value;
        var pass = document.getElementById("pass2").value;
        if(user==='admin' && pass=== '1234'){
            window.location.assign('./modules');
        }
        else{
            alert('credentials does not match');
        }
    }
</script>
<style>

    .hvr-fade {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  overflow: hidden;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: color, background-color;
  transition-property: color, background-color;
}
.hvr-fade:hover, .hvr-fade:focus, .hvr-fade:active {
  background-color: #034C98;
  color:#fff;
}
body{
    background-image: url('./Images/Hue_Saturation 1.png');
    background-size: cover;
}


</style>

<body>
    <header>

        <div class="container">
            <div class="row">

                <div class="col-md-12">

                    <div style="margin-top:150px;" class="text-center"><img class="img-responsive" src="Images/Greeshams Logo.png" /></div>
                </div>
            </div>
        </div>
    </header>
    <br>
    <br>
    <br>
    <div class="container">
        <div class="row">

            <div class="col-md-6">

                <div class="text-center" style="box-shadow: 0px 0px 40px black;">
                    <img class="img-responsive" src="Images/mappoint.png" style="margin-top:10px;">
                    <br><br>
                    <h3 style="font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; font-weight: bolder; color: #034C98; text-align: center;">ORDER
                        TRACKING</h3>
                    <br>
                    <button data-toggle="modal" data-target="#myModal" style="font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; font-weight: bolder; background-color: #332f30; margin-bottom: 25px; border-radius: 15px; color: white;  width: 140px; height: 50px;"
                        type="button" value="PROCEED">PROCEED</button>

                </div>
                <br>
            </div>

            <div class="col-md-6">
                <div class="text-center" style="box-shadow: 0px 0px 40px black;">


                    <img style="height:124px; width:142px; margin-top:10px;" class="img-responsive" src="Images/IW logo.png">
                    <br>
                    <br>
                    <h3 style="font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; font-weight: bolder; color: #034C98; text-align: center;">INTERNAL
                        WORKING</h3>
                    <br>
                    <button data-toggle="modal" data-target="#myModal2" style="font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; font-weight: bolder; background-color: #332f30;  margin-bottom: 25px; border-radius: 15px; color: white;  width: 140px; height: 50px;"
                        type="button" value="PROCEED">PROCEED</button>

                </div>

            </div>

            <!-- <div class="containier">
                <div class="row">
                    <div class=" col-md-6">
                        <div class="align-right"><img style="float:right;" class="img-responsive" src="Images/mappoint.png"></div>

                    </div>
                </div> -->




        </div>


        <div class="container">


            <!-- Button to Open the Modal -->


            <!-- The Modal -->
            <div class="modal fade" id="myModal">
                <div class="modal-dialog">
                    <div style="margin-top:170px;" class="modal-content text-center">

                        <!-- Modal Header -->
                        <div style="background-color:#034C98;" class="modal-header ">
                            <div style="width:100%; text-align:center;">
                                <h4 style="color:white; text-align: center; margin-left: 15px;  margin-top: 20px;  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; font-weight: bolder;"
                                    class="modal-title">ORDER TRACKING</h4>
                            </div>
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                        </div>

                        <!-- Modal body -->
                        <h4 style="text-align:center; margin-top: 10px; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; font-weight: bolder;">Username</h4>
                        <input style=" width:80%; margin-left: 40px;font-family:Cambria; font-weight:bold; text-align:center;"
                            type="text" placeholder="Enter Username" id="user" name="user">

                        <h4 style="text-align:center; margin-top: 10px; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; font-weight: bolder;">Password</h4>
                        <input style=" width:80%; margin-left: 40px; font-family:Cambria; font-weight:bold; text-align:center;"
                            type="password" placeholder="Enter Password" id="pass" name="pass">

                        <!-- Modal footer -->
                        <div style="text-align:center;">
                            <button style=" width:70%; height: 40px; margin-top: 15px; margin-bottom: 15px;  text-align:center; font-family:Cambria; font-weight: bolder; border-radius: 15px;"
                                type="button" class="hvr-fade " onclick="abc()" class="btn btn-danger" data-dismiss="modal">Submit</button>
                        </div>

                    </div>
                </div>
            </div>

        </div>















        <div class="container">


            <!-- Button to Open the Modal -->


            <!-- The Modal -->
            <div class="modal fade" id="myModal2">
                <div class="modal-dialog">
                    <div style="margin-top:170px;" class="modal-content text-center">

                        <!-- Modal Header -->
                        <div style="background-color:#034C98;" class="modal-header ">
                            <div style="width:100%; text-align:center;">
                                <h4 style="color:white; text-align: center; margin-left: 15px;  margin-top: 20px;  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; font-weight: bolder;"
                                    class="modal-title">INTERNAL WORKING</h4>
                            </div>
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                        </div>

                        <!-- Modal body -->
                        <h4 style="text-align:center; margin-top: 10px; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; font-weight: bolder;">Username</h4>
                        <input style=" width:80%; margin-left: 40px;font-family:Cambria; font-weight:bold; text-align:center;"
                            type="text" placeholder="Enter Username" id="user2" name="user">

                        <h4 style="text-align:center; margin-top: 10px; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; font-weight: bolder;">Password</h4>
                        <input style=" width:80%; margin-left: 40px; font-family:Cambria; font-weight:bold; text-align:center;"
                            type="password" placeholder="Enter Password" id="pass2" name="pass">

                        <!-- Modal footer -->
                        <div style="text-align:center;">
                            <button style=" width:70%; height: 40px; margin-top: 15px; margin-bottom: 15px;  text-align:center; font-family:Cambria; font-weight: bolder; border-radius: 15px;"
                                type="button" class="hvr-fade " onclick="check()" class="btn btn-danger" data-dismiss="modal">Submit</button>
                        </div>

                    </div>
                </div>
            </div>

        </div>

</body>

</html>