<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Employee Portal</title>
</head>
<body>
   <h1>Employee Portal</h1>
   <a href='ep/employee_info' >Employee Info</a>
   <a href='ep/leaves_status' >Leaves Status</a> 
   <a href='ep/resignation' >Resignations Info</a> 

 
</body>
</html>