<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>


</head>
<style>
    .square {
  height: 15px;
  width: 15px;
  background-color: transparent;
  border: 1px solid black;
}
.square1 {
  height: 80px;
  width: 600px;
  background-color: transparent;
  border: 1px solid black;
}
</style>

<body>
    <!-- header -->
    <div style="display: flex; padding: 5px">
        <div style="flex: 1; text-align: left">
            <img src="Images/Greeshams Logo.png" alt="" width="300px;">

        </div>

</div>


        <!-- end of header -->


<div style="margin-top:-40px;">
        <div>
            <h2 style=" font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; text-align:center; margin-top: 100px; margin-right: 160px; font-size: 16px; width:100%;   ">EMERGENCY
                CONTACT INFORMATION</h2>
        </div>


            <div style="text-align: left;">
                <h2 style="text-align: left; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; font-size: 16px; text-decoration: underline;">Employee Information</h2>

            </div>

            <div style="text-align: left;">
                    <h2 style="text-align: left; font-size: 16px; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; ">First Name _________________________</h2>
                    <h2 style="text-align: left; font-size: 16px; margin-left: 288px; margin-top: -30px; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; ">Last Name _________________________</h2>
                </div>

                <br>


                <div style="text-align: left; margin-top: -20px;">
                    <h2 style="text-align: left; font-size: 16px; text-decoration: underline; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">Emergency Contact Name</h2>
    
                </div>
    
                <div style="text-align: left;">
                        <h2 style="text-align: left; font-size: 16px; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; ">Primary Contact Name ______________________________________________________________</h2>
                        <h2 style="text-align: left; font-size: 16px; margin-left: 1px; margin-top: 10px; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; ">Relationship To Employee ______________________________________________________________</h2>
                    </div>

                    <br>


                    <div style="text-align: left; margin-top: -20px;">
                        <h2 style="text-align: left; font-size: 16px; text-decoration: underline; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">Emergency Home Address</h2>
                        <div class="square"></div>
                        <h2 style="text-align: left; font-size: 16px; margin-top: -15px; margin-left: 20px; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; ">Same Address/Phone As Employee</h2>
                    </div>


<br>
  <div style="text-align: left; margin-top: -20px;">
                        <h2 style="text-align: left; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; font-size: 16px; ">Country _______________________________________________________________________________</h2><br>
                        <h2 style="text-align: left; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; font-size: 16px; margin-top: -10px; ">Address 1 ______________________________________________________________________________</h2><br>
                        <h2 style="text-align: left; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; font-size: 16px; margin-top: -10px; ">Address 2 ______________________________________________________________________________</h2>
                    </div>
                
                    <div style="text-align: left;">
                            <h2 style="text-align: left; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; font-size: 16px;  margin-top: 20px;  ">City ________________________</h2>
                            <h2 style="text-align: left; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; font-size: 16px; margin-left: 250px; margin-top: -30px;   ">State _____________</h2>
                            <h2 style="text-align: left; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; font-size: 16px; margin-left: 425px; margin-top: -30px;  ">Postal Code _______________________</h2>
                        </div>
                     
                        <div style="text-align: left; width: 100%;">
                                <h2 style="text-align: left; font-size: 16px; margin-top:20px; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; ">Home Phone ____________________________</h2>
                            </div>

                            <div style="text-align: left; margin-top: 25px;">
                                    <h2 style="text-align: left; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; font-size: 16px; ">Primary Office Phone _______________________</h2>
                                    <h2 style="text-align: left; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; font-size: 16px; margin-left: 350px; margin-top: -30px; ">Cellular Phone _______________________</h2>
                                </div>


                                <div style="text-align: left; margin-top: 20px;">
                                        <h2 style="text-align: left; font-size: 16px; ">Comments Text</h2>
                                        <div class="square1"></div>
                                       
                                    </div>
                                    <br>
                                    <div>
                                            <h2 style=" font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; font-weight: 100; font-size: 20px;  text-align:center; margin-left:10px; margin-top:50px;   border-top: 1px solid black ;  width: 200px; ">Print Name</h2>
                                            <h2 style=" font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; font-weight: 100; font-size: 20px;  text-align:center; margin-left:250px; margin-top:-40px;   border-top: 1px solid black ;  width: 200px; ">Signature</h2>
                                            <h2 style=" font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; font-weight: 100; font-size: 20px;  text-align:center; margin-left:500px; margin-top:-40px;   border-top: 1px solid black ;  width: 200px; ">Date</h2>
                                        </div>
</div>


<!-- footer -->
<div style="display: flex; padding: 5px">
        <div style="flex: 1; text-align: right">
            <img src="./Quality Assured Logo.PNG" alt="" width="300px;">

        </div>

</div>


        <!-- end of Footer -->




</body>


<style type="text/css" media="print">
    @page {
        size: auto;   /* auto is the initial value */
        margin: 0;  /* this affects the margin in the printer settings */
        margin-left: 50px;
        margin-right: 50px;
      
    
     

    }
    </style>
</html>