<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
        crossorigin="anonymous">
    <title>Human Resource Management</title>
    <style>
        .row{
        margin-bottom: 10px;
    }
    </style>
</head>

<body>

    <div class="container">
        <div class="jumbotron" style='padding:2em'>
            <h2 class='text-center'>Human Resource Management</h2>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-8">
                    <div class="card">
                        <div class="card-header">
                            <h4>Add Applicant</h4>
                        </div>
                        <div class="card-body">

                                <div class="row">
                                    <div class="col-md-4"><label class='form-control-label'>
                                            Full Name
                                        </label></div>
                                    <div class="col-md-8">
                                        <input type='text' class='form-control' id='name' required>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4"><label class='form-control-label'>
                                            S/O,D/O,W/O
                                        </label></div>
                                    <div class="col-md-8">
                                        <input type='text' class='form-control' id='father_name' required>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4"><label class='form-control-label'>
                                            CNIC
                                        </label></div>
                                    <div class="col-md-8">
                                        <input type='text' class='form-control' id='cnic' required>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4"><label class='form-control-label'>
                                            Address
                                        </label></div>
                                    <div class="col-md-8">
                                        <input type='text' class='form-control' id='address' required>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4"><label class='form-control-label'>
                                            Permanent Address
                                        </label></div>
                                    <div class="col-md-8">
                                        <input type='text' class='form-control' id='p_address' required>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4"><label class='form-control-label'>
                                            Email
                                        </label></div>
                                    <div class="col-md-8">
                                        <input type='text' class='form-control' id='email' required>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4"><label class='form-control-label'>
                                            Contact #
                                        </label></div>
                                    <div class="col-md-8">
                                        <input type='text' class='form-control' id='mobile' required>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4"><label class='form-control-label'>
                                            Emergency Contact #
                                        </label></div>
                                    <div class="col-md-8">
                                        <input type='text' class='form-control' id='telephone'>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4"><label class='form-control-label'>
                                            Date of Birth
                                        </label></div>
                                    <div class="col-md-8">
                                        <input type='date'  class='form-control' id='dob'
                                            required>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <button class='btn btn-primary' onClick='add_applicant()'>Add Applicant</button>
                                    </div>
                                </div>

                        </div>
                    </div>

                </div>
                <div class="col-md-2"></div>
            </div>
        </div>
    </div>
    <script src='/js/jquery-3.2.1.min.js'></script>
    <script src='/js/popper.min.js'></script>
    <script src='/js/bootstrap.min.js'></script>
    <script src='/js/tooltip.js'></script>
    <script>

       function add_applicant(){
        let applicant = {
            name: document.getElementById('name').value,
            father_name: document.getElementById('father_name').value,
            cnic: document.getElementById('cnic').value,
            dob: document.getElementById('dob').value,
            mobile: document.getElementById('mobile').value,
            address: document.getElementById('address').value,
            p_address: document.getElementById('p_address').value,
            email: document.getElementById('email').value,
            telephone: document.getElementById('telephone').value
        };
        var xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function () {
            if (this.readyState == 4 && this.status == 200) {
                
            }
        };
        xhttp.setRequestHeader('Content-Type','application/x-www-form-urlencoded');
        xhttp.open("POST", "./add_applicant", true);
        xhttp.send("name="+applicant.name);
    }
      
     </script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
        crossorigin="anonymous"></script>
</body>

</html>