<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
        crossorigin="anonymous">
    <title>Human Resource Management</title>
    <style>
        .row{
        margin-bottom: 10px;
    }
    </style>
</head>

<body>

    <div class="container">
        <div class="jumbotron" style='padding:2em'>
            <h2 class='text-center'>Human Resource Management</h2>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-8">
                    <div class="card">
                        <div class="card-header">
                            <h4>Add Applicant</h4>
                        </div>
                        <div class="card-body">
                            <form class='form' action='./add_applicant' method="POST" >

                                <div class="row">
                                    <div class="col-md-4"><label class='form-control-label'>
                                            Full Name
                                        </label></div>
                                    <div class="col-md-8">
                                        <input type='text' class='form-control' name='name' required>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4"><label class='form-control-label'>
                                            S/O,D/O,W/O
                                        </label></div>
                                    <div class="col-md-8">
                                        <input type='text' class='form-control' name='father_name' required>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4"><label class='form-control-label'>
                                            CNIC
                                        </label></div>
                                    <div class="col-md-8">
                                        <input type='text' class='form-control' name='cnic' required>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4"><label class='form-control-label'>
                                            Address
                                        </label></div>
                                    <div class="col-md-8">
                                        <input type='text' class='form-control' name='address' required>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4"><label class='form-control-label'>
                                            Permanent Address
                                        </label></div>
                                    <div class="col-md-8">
                                        <input type='text' class='form-control' name='p_address' required>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4"><label class='form-control-label'>
                                            Email
                                        </label></div>
                                    <div class="col-md-8">
                                        <input type='text' class='form-control' name='email' required>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4"><label class='form-control-label'>
                                            Emergency Contact #
                                        </label></div>
                                    <div class="col-md-8">
                                        <input type='text' class='form-control' name='telephone'>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4"><label class='form-control-label'>
                                            Contact #
                                        </label></div>
                                    <div class="col-md-8">
                                        <input type='text' class='form-control' name='mobile' required>
                                    </div>
                                </div>
                               
                                <div class="row">
                                    <div class="col-md-4"><label class='form-control-label'>
                                            Date of Birth
                                        </label></div>
                                    <div class="col-md-8">
                                        <input type='date'  class='form-control' name='dob'
                                            required>
                                    </div>
                                </div>
                                
                                <div class="row">
                                    <div class="col-md-4"><label class='form-control-label'>
                                            Education
                                        </label>
                                        <input id='education_input' type="hidden" name='education'>
                                    </div>
                                    <div class="col-md-8">
                                        <div class="row">
                                            <div class="col-md-8">
                                                <input type='text' class='form-control' id='e_title' placeholder='Title (Matric/Intermediate/bachelors)'>
                                            </div>
                                            <div class="col-md-4">
                                                <input type='text' class='form-control' id='e_year' placeholder='Passing Year'>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-8">
                                                <input type='text' class='form-control' id='e_name' placeholder='Institute Name'>
                                            </div>
                                            <div class="col-md-4">
                                                <input type='text' class='form-control' id='e_grade' placeholder='Passing Grade'>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12"><button type="button" class='btn btn-primary' style="width:inherit"
                                                    onclick="add_education()">Add</button></div>
                                        </div>

                                        <div class="container-fluid" id='education_output'>


                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                        <div class="col-md-4"><label class='form-control-label'>
                                                Experiences
                                            </label>
                                            <input id='experience_input' type="hidden" name='experience'>
                                        </div>
                                        <div class="col-md-8">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <input type='text' class='form-control' id='x_org' placeholder='Organization Name'>
                                                </div>
                                                
                                            </div>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <input type='text' class='form-control' id='x_post' placeholder='Designation'>
                                                </div>
                                                <div class="col-md-6">
                                                        <input type='text' class='form-control' id='x_year' placeholder='Working Period'>
                                                </div>
                        
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12"><button type="button" class='btn btn-primary' style="width:inherit"
                                                        onclick="add_experience()">Add</button></div>
                                            </div>
    
                                            <div class="container-fluid" id='experience_output'>
    
    
                                            </div>
                                        </div>
                                </div>
                               

                            </form>
                        </div>
                    </div>

                </div>
                <div class="col-md-2"></div>
            </div>
        </div>
    </div>
    <script>
       
        function add_experience(){
            let x_input = document.getElementById('experience_input');
            let x_output = document.getElementById('experience_output');
            let x_org = document.getElementById('x_org');
            let x_year = document.getElementById('x_year');
            let x_post = document.getElementById('x_post');
            if(x_org.value==='' || x_year.value==='' || x_post.value==='')
            {
                alert('please fill all fields');
            }
            else{
                let obj;
            if (x_input.value === '') {
                obj = [{ org: x_org.value, period: x_year.value, post: x_post.value }];

            }
            else {
                obj = JSON.parse(x_input.value);
                obj.push({ org: x_org.value, period: x_year.value, post: x_post.value});
            }
            x_input.value = JSON.stringify(obj);
            x_output.innerHTML += `<div class="row" style='margin-bottom: 0px;'>
                    <div class="col-md-8">
                        <span>
                            `+ x_org.value + `
                        </span>
                    </div>
                    <div class="col-md-4">
                        <span>
                                `+ x_year.value + `

                        </span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-8">
                        <span>
                                `+ x_post.value + `
                        </span>
                    </div>
                </div>`;
                x_org.value ='';
                x_year.value ='';
                x_post.value ='';
            }
            
        }
        function add_education() {

            let education_input = document.getElementById('education_input');
            let education_output = document.getElementById('education_output');
            let e_title = document.getElementById('e_title');
            let e_year = document.getElementById('e_year');
            let e_name = document.getElementById('e_name');
            let e_grade = document.getElementById('e_grade');
            let obj;
            if(e_name.value==='' || e_title.value==='' || e_year.value==='' || e_grade.value==='' )
            {
                alert('please fill all fields');
            }
         else{
            if (education_input.value === '') {
                obj = [{ title: e_title.value, institute: e_name.value, year: e_year.value, grade: e_grade.value }];

            }
            else {
                obj = JSON.parse(education_input.value);
                obj.push({ title: e_title.value, institute: e_name.value, year: e_year.value, grade: e_grade.value });
            }
            education_input.value = JSON.stringify(obj);
            education_output.innerHTML += `<div class="row" style='margin-bottom: 0px;'>
                    <div class="col-md-8">
                        <span>
                            `+ e_title.value + `
                        </span>
                    </div>
                    <div class="col-md-4">
                        <span>
                                `+ e_year.value + `

                        </span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-8">
                        <span>
                                `+ e_name.value + `
                        </span>
                    </div>
                    <div class="col-md-4">
                        <span>
                                `+ e_grade.value + `

                        </span>
                    </div>
                </div>`
                e_title.value ='';
                e_year.value ='';
                e_name.value='';
                e_grade.value='';

            }
           
        }
    </script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
        crossorigin="anonymous"></script>
</body>

</html>