<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
        crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <title id="ttl">Appointment Letter - Human Resource Management</title>
    <style>
            @media only screen and (min-width: 993px) {
                   nav a.button-collapse {
                       display: block;
                   }
               }
           </style>
    <style type="text/css" media="print">
    
        @page {
            size: auto;
            /* auto is the initial value */
            margin: 0;
            /* this affects the margin in the printer settings */
            margin-left: 20px;
            margin-right: 20px;
            margin-bottom: 20px;

        }
    </style>
</head>

<body onload="divHide()">
        <div>
                <nav>
                    <a data-target="slide-out" class="button-collapse sidenav-trigger btn-flat btn-large waves-effect waves-light"
                        style="background: #EE6E73"><i class="material-icons">dehaze</i></a>
            
                    <h3 style="color: white; text-align: center; padding: 15px 0px">Human Resource Management</h3>
                </nav>
            
            
                <ul id="slide-out" class="sidenav">
                    <li>
                        <div class="user-view">
                            <div class="background">
                                <img src="https://images.freeimages.com/images/small-previews/4f7/blank-sign-bullet-holes-1447150.jpg">
                            </div>
                            <a href="#user"><img class="circle" src="https://images.freeimages.com/images/small-previews/4f7/blank-sign-bullet-holes-1447150.jpg"></a>
                            <a href="#name"><span class="white-text name">John Doe</span></a>
                            <a href="#email"><span class="white-text email">jdandturk@gmail.com</span></a>
                        </div>
                    </li>
                    <li class="no-padding">
                        <ul class="collapsible">
                                <li>
                                        <div class="collapsible-header">
                                            <a href="employees_list" style="display: block; color: black">Employees Details</a>
                                        </div>
                                    </li>
                                <li>
                                        <div class="collapsible-header">
                                            <a href="add_applicant" style="display: block; color: black">Add Applicant</a>
                                        </div>
                                    </li>
                            <li>
                                <div class="collapsible-header">Add Employees</div>
                                <div class="collapsible-body">
                                    <a href="add_employee" style="display: block; padding-left: 20px; color: black">Add Staff</a>
                                    <a href="add_labour" style="display: block;  padding-left: 20px; color: black">Add Labour</a>
                                </div>
            
            
                            </li>
                            <li>
                                <div class="collapsible-header">Letters</div>
                                <div class="collapsible-body">
                                    <a href="appointment_letter" style="display: block; padding-left: 20px;color: black">Appointment Letter</a>
                                    <a href="contract_letter" style="display: block; padding-left: 20px;color: black">Contract Letter</a>
                                    <a href="confirmation_letter" style="display: block; padding-left: 20px;color: black">Conformation Letter</a>
                                    <a href="supported_docs" style="display: block; padding-left: 20px;color: black">Supported Docs</a>
                                </div>
                            </li>
                            <li>
                                <div class="collapsible-header">
                                    <a href="leaves_applications" style="display: block; color: black">Leaves Application</a>
                                </div>
                            </li>
                            <li>
                                <div class="collapsible-header">
                                    <a href="resignations_info" style="display: block;color: black">Resignation info</a>
                                </div>
                            </li>
                        </ul>
                    </li>
                </ul>
            
            </div>
            <!-- end of nav -->
            
    <div class="container-fluid">
        <div class="container">
                <br />
                <div class='form-control-inline' style='display:inline;' id="header1">
                        <input type='text' placeholder="Search Employee Here...!" class='form-control' style='width:15em' onKeyUp="search_result(this)">
                        <div id='search_list'></div>
                    </div>
                    <hr/>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-1">&nbsp;</div>
                <div class="col-md-10">
                    <div class="card">
                            <div id="mainDiv">
                                    <div id="pg1">
                                        <!-- header -->
                                        <div style="display: flex; padding: 5px">
                                            <div style="flex: 1; text-align: left">
                                                <img src="../../images/Greeshams Logo.png" alt="" width="60%">
                                                <h2 style="text-align: right; text-decoration: underline">Appointment Letter</h2>
                            
                                            </div>
                                            <div style="flex: 1;text-align: right;">
                                                <h4 style="font-weight: 500; margin: 0%; padding: 0px">GRESHAM'S EASTERN [PRIVATE] LIMITED</h4>
                                                <p style="font-weight: 500; padding: 0%; margin: 0%">Business Center
                                                    <span style="color: red">|</span>
                                                    P.E.C.H.S, Block-6</p>
                                                <p style="font-weight: 500; padding: 0%; margin: 0%">Plot 19/1-A
                                                    <span style="color: red">|</span>
                                                    Suite 702, 7th Floor</p>
                                                <p style="font-weight: 500; padding: 0%; margin: 0%">Main Shahrah-e-Faisal</p>
                                                <p style="font-weight: 500; padding: 0%; margin: 0%">Karachi 75400
                                                    <span style="color: red">|</span>
                                                    Pakistan</p>
                                                <br />
                                                <p style="font-weight: 500; padding: 0%; margin: 0%">Tel: +92 21 343 24530 [06 Lines]</p>
                                                <p style="font-weight: 500; padding: 0%; margin: 0%">Mobile: +92 300 24080</p>
                                                <p style="font-weight: 500; padding: 0%; margin: 0%">Fax: +92 21 343 24080</p>
                                                <p style="font-weight: 500; padding: 0%; margin: 0%">Sales@gel1947.com</p>
                                            </div>
                                        </div>
                                        <!-- end of header -->
                                        <!-- date & ref -->
                                        <div style="display: flex">
                                            <div style="flex: 1">
                                                <p style="font-weight: 700; margin: 10px 0px; text-align: left; font-size: 16px">
                                                    Date:
                                                    <span style="font-weight: 400; margin: 10px 0px; text-align: left;  text-decoration: underline">
                                                        Assumenda at er
                                                    </span>
                                                </p>
                                                <p style="font-weight: 400; margin: 0; text-align: left; font-size: 16px">
                                                    Reference: GEL.
                                                    <span> ____ </span>.
                                                    <span> ___ </span>.
                                                    <span> ____ </span> Rev
                                                    <span> ___ </span>
                                                    <span style="font-weight: 400;">dtd
                                                        <span> ______________ </span>.</span>
                                                </p>
                                            </div>
                                        </div>
                                        <!-- end date & ref -->
                            
                                        <!-- name & adress -->
                                        <div style="display: flex">
                                            <div style="flex: 1">
                                                <p style="font-weight: 700; margin: 10px 0px; text-align: left; font-size: 16px">
                                                    Name: &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                                                    <span style="font-weight: 400; text-decoration: underline;" id="name">
                                                        _______________________.</span>
                                                </p>
                                            </div>
                                        </div>
                            
                                        <div style="display: flex">
                                            <div style="flex: 1">
                                                <p style="font-weight: 700; margin: 0; text-align: left; font-size: 16px;">
                                                    Address: &nbsp; &nbsp; &nbsp;
                                                    <span style="font-weight: 400;  text-decoration: underline;" id="address">
                                                        ______________________________________________________________.
                                                    </span>
                                                </p>
                                            </div>
                                        </div>
                            
                                        <!-- end name & adress -->
                                        <br />
                                        <br />
                                        <!-- dear & appointment -->
                                        <div style="display: flex">
                                            <div style="flex: 1">
                                                <p style="font-weight: 500; margin: 10px 0px; text-align: left; font-size: 16px">
                                                    Dear:
                                                    <span style="font-weight: 400; text-decoration: underline;" id="dear">
                                                        __________________,
                                                    </span>
                                                </p>
                                            </div>
                                        </div>
                                        <div style="display: flex">
                                            <div style="flex: 1">
                                                <p style="font-weight: 700; margin: 0; text-align: left; font-size: 18px">
                                                    Appointment as &nbsp; &nbsp;: &nbsp; &nbsp; &nbsp;
                                                    <span style="font-weight: 400; text-decoration: underline;" id="appointment">
                                                        _______________________.
                                                    </span>
                                                </p>
                                            </div>
                                        </div>
                                        <!-- dear & appointment -->
                            
                            
                                        <br>
                                        <div style="display: flex">
                                            <div style="flex: 1">
                                                <p style="font-weight: 500; margin: 0px; text-align: left; font-size: 18px">
                                                    We are pleased to offer you employment in the position of
                                                    <span style="font-weight: 400; text-decoration: underline;" id="position">_______________</span>, with effect from &nbsp; &nbsp; &nbsp;&nbsp; (
                                                    <span style="font-weight: 400; text-decoration: underline;" id="effect"> _______________</span>).
                                                </p>
                                            </div>
                                        </div>
                            
                                        <div style="display: flex">
                                            <div style="flex: 1">
                                                <p style="font-weight: 500; margin: 10px 0px; text-align: left; font-size: 18px">
                                                    This appointment is subject to the following terms and conditions:
                                                </p>
                                            </div>
                                        </div>
                            
                                        <!-- contract -->
                                        <div style="display: flex">
                                            <div style="flex: 1">
                                                <p style="font-weight: 700; margin: 10px 0px; text-align: left; font-size: 18px">
                                                    Contract &nbsp; &nbsp; :
                                                    <span style="font-weight: 400;"> The employment is a contractual period of:
                                                    </span>
                                                    <span style="font-weight: 400;"> ____________.</span>
                                                </p>
                                            </div>
                                        </div>
                            
                                        <div style="display: flex">
                                            <div style="flex: 1">
                                                <p style="font-weight: 700; margin: 10px 0px; text-align: left; font-size: 18px">
                                                    (State period and after probation the contract period may be extended by 6 months, At the expiry of the contract term the
                                                    contract may be renewed for another 11 months.)
                                                </p>
                                            </div>
                                        </div>
                            
                            
                            
                                        <div style="display: flex">
                                            <div style="flex: 1">
                                                <p style="font-weight: 700; margin: 10px 0px; text-align: left; font-size: 20px">
                                                    Probation.
                                                </p>
                                            </div>
                                        </div>
                            
                                        <div style="display: flex">
                                            <div style="flex: 1">
                                                <p style="font-weight: 500; margin: 10px 0px; text-align: left; font-size: 16px">
                                                    You are required to serve a probationary period of
                                                    <span>_________</span> after which your service will be confirmed subject to satisfactory performance.
                                                    The probationary period may be extended or shortened at the absolute discretion of the Company. During
                                                    the probationary period, the appointment may be terminated by either party giving a 1 week notice
                                                    in writing to the other party.
                                                </p>
                                            </div>
                                        </div>
                            
                                        <div style="display: flex">
                                            <div style="flex: 1">
                                                <p style="font-weight: 700; margin: 10px 0px; text-align: left; font-size: 20px">
                                                    Base Salary:
                                                </p>
                                                <p style="font-weight: 500; margin: 10px 0px; text-align: left; font-size: 16px">
                                                    Your starting salary is Rs. &nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;
                                                    <span style="text-decoration: underline;" id="basic_salary"> __________ </span> &nbsp; per month.
                                                </p>
                                            </div>
                                        </div>
                            
                                        <!-- contract -->
                                        <!-- footer -->
                                        <div id="foot1">
                                                <div style="position: fixed; bottom: 20px; width: 85%">
                                                        <span style="font-weight: 700;width: inherit; display: block; margin: 5px 0px; text-align: left; font-size: 16px; border-bottom: 1px solid black; padding: 2px; color: red">
                                                            www.gel1947.com
                                                        </span>
                                                        <span style="text-align: left">
                                                            <p style="font-weight: 500; padding: 0%; margin: 0%">Registered Office F-302 Sindh Industrial Trading Estaet - site
                                                                <span style="color: red">|</span>
                                                                Karachi
                                                                <span style="color: red">|</span> Pakistan</p>
                                                            <p style="font-weight: 500; padding: 0%; margin: 0%">Regional Offices: lahore
                                                                <span style="color: red">|</span>
                                                                Rawalpindi</p>
                                                            <p style="font-weight: 500; padding: 0%; margin: 0%">Liasion: USA
                                                                <span style="color: red">|</span>
                                                                European Union
                                                                <span style="color: red">|</span> ROC</p>
                                                        </span>
                                                    </div>
                                                            <div style="position: fixed; bottom: 0px; right: 70px; width: 15%">
                                                                <img src="../../images/Greeshams Logo.png" width="170px" height="100px" alt="" style="border: 1px solid black; padding: 1px">
                                                            </div>
                                        </div>
                                        <!-- end of footer -->
                                    </div>
                                    <div id="pg2">
                                        <!-- header -->
                                        <div style="display: flex; padding: 5px">
                                            <div style="flex: 1; text-align: left">
                                                <img src="../../images/Greeshams Logo.png" alt="" width="60%">
                                            </div>
                                            <div style="flex: 1;text-align: right;">
                                                <h4 style="font-weight: 500; margin: 0%; padding: 0px">GRESHAM'S EASTERN [PRIVATE] LIMITED</h4>
                                                <p style="font-weight: 500; padding: 0%; margin: 0%">Business Center
                                                    <span style="color: red">|</span>
                                                    P.E.C.H.S, Block-6</p>
                                                <p style="font-weight: 500; padding: 0%; margin: 0%">Plot 19/1-A
                                                    <span style="color: red">|</span>
                                                    Suite 702, 7th Floor</p>
                                                <p style="font-weight: 500; padding: 0%; margin: 0%">Main Shahrah-e-Faisal</p>
                                                <p style="font-weight: 500; padding: 0%; margin: 0%">Karachi 75400
                                                    <span style="color: red">|</span>
                                                    Pakistan</p>
                                                <br />
                                                <p style="font-weight: 500; padding: 0%; margin: 0%">Tel: +92 21 343 24530 [06 Lines]</p>
                                                <p style="font-weight: 500; padding: 0%; margin: 0%">Mobile: +92 300 24080</p>
                                                <p style="font-weight: 500; padding: 0%; margin: 0%">Fax: +92 21 343 24080</p>
                                                <p style="font-weight: 500; padding: 0%; margin: 0%">Sales@gel1947.com</p>
                                            </div>
                                        </div>
                                        <!-- end of header -->
                            
                                        <div style="display: flex">
                                            <div style="flex: 1">
                                                <p style="font-weight: 700; margin: 10px 0px 0px; text-align: left; font-size: 20px">
                                                    Allowences:
                                                </p>
                                                <p style="font-weight: 500; margin: 10px 0px; text-align: left; font-size: 18px">
                                                    You are entitled to:
                                                </p>
                            
                                                <p style="font-weight: 500; margin: 10px 0px; text-align: left; font-size: 18px">
                                                    1. &nbsp;&nbsp; House Rent Allowance &nbsp; &nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; Rs &nbsp;&nbsp;
                                                    <span style="text-decoration: underline;" id="hra">__________</span> per month.
                                                </p>
                                                <p style="font-weight: 500; margin: 10px 0px; text-align: left; font-size: 18px">
                                                    2. &nbsp;&nbsp; Lunch Allowance &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp;&nbsp; Rs &nbsp;&nbsp;
                                                    <span style="text-decoration: underline;" id="la">__________</span> per month.
                                                </p>
                                                <p style="font-weight: 500; margin: 10px 0px; text-align: left; font-size: 18px">
                                                    3. &nbsp;&nbsp; Mobile Phone Allowance &nbsp; &nbsp; &nbsp;&nbsp; &nbsp;&nbsp; Rs &nbsp;&nbsp;
                                                    <span style="text-decoration: underline;" id="mpa">__________</span> per month.
                                                </p>
                                                <p style="font-weight: 500; margin: 10px 0px 0pc; text-align: left; font-size: 18px">
                                                    4. &nbsp;&nbsp; Transport Allowance &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; Rs
                                                    &nbsp;&nbsp;
                                                    <span style="text-decoration: underline;" id="ta">__________</span> per month.
                                                </p>
                                            </div>
                                        </div>
                            
                                        <hr style="color: black; padding: 0px; background: black" />
                            
                                        <div style="display: flex; text-align: center">
                                            <div style="flex: 1">
                                                <p style="font-weight: 700; margin: 0px 0px 0px; text-align: left; font-size: 20px">
                                                    Gross Salary:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Rs
                                                    &nbsp;&nbsp;
                                                    <span style="text-decoration: underline;" id="gs">__________</span>
                                                    per month.
                                                </p>
                                            </div>
                                        </div>
                            
                            
                                        <div style="display: flex; text-align: left; margin-top: 10px">
                                            <div style="flex: 1">
                                                <p style="font-weight: 700;  text-align: left; font-size: 20px;margin: 5px 0px">
                                                    Less Deductions:
                                                </p>
                                                <div style="display: flex; margin: 5px 0px">
                                                    <div style="flex: 1">
                                                        <p style="font-weight: 700;  text-align: left; font-size: 18px; margin: 5px 0px">
                                                            Income Tax
                                                        </p>
                                                    </div>
                                                    <div style="flex: 1">
                                                        <p style="font-weight: 700; text-align: left; font-size: 18px; margin: 5px 0px">
                                                            Rs
                                                            <span style="text-decoration: underline;" id="it">_________________</span>
                                                        </p>
                                                    </div>
                                                </div>
                            
                                                <div style="display: flex; margin: 5px 0px">
                                                    <div style="flex: 1">
                                                        <p style="font-weight: 700; text-align: left; font-size: 18px; margin: 5px 0px">
                                                            Retention Basic Salary
                                                        </p>
                                                    </div>
                                                    <div style="flex: 1">
                                                        <p style="font-weight: 700; text-align: left; font-size: 18px; margin: 5px 0px">
                                                            Rs
                                                            <span style="text-decoration: underline;" id="rbs">_________________</span>
                                                        </p>
                                                    </div>
                                                </div>
                            
                                                <div style="display: flex; margin: 5px 0px">
                                                    <div style="flex: 1">
                                                        <p style="font-weight: 700; text-align: left; font-size: 18px; margin: 5px 0px">
                                                            Sales and Engineering Only
                                                        </p>
                                                    </div>
                                                    <div style="flex: 1">
                                                        <p style="font-weight: 700; text-align: left; font-size: 18px; margin: 5px 0px">
                                                            Rs
                                                            <span style="text-decoration: underline;" id="saleng">_________________</span>
                                                        </p>
                                                    </div>
                                                </div>
                                                <hr />
                                                <div style="display: flex; margin: 5px 0px">
                                                    <div style="flex: 1">
                                                        <p style="font-weight: 700; text-align: left; font-size: 18px; margin: 5px 0px">
                                                            Net Salary
                                                        </p>
                                                    </div>
                                                    <div style="flex: 1">
                                                        <p style="font-weight: 700; text-align: left; font-size: 18px; margin: 5px 0px">
                                                            Rs
                                                            <span style="text-decoration: underline;" id="ns">_________________</span> per month.
                                                        </p>
                                                    </div>
                                                </div>
                            
                                                <div style="display: flex; margin: 5px 0px">
                                                    <div style="flex: 1">
                                                        <p style="font-weight: 700; text-align: left; font-size: 20px; margin: 5px 0px">
                                                            Terms:
                                                        </p>
                            
                                                        <p style="font-weight: 500; text-align: left; font-size: 18px; margin: 5px 0px">
                                                            The Retention payment is refundable back to the employee after completion of 24 months of employment. 50% is refundable after
                                                            completion of 24 months of employment. Balance 50% is refundable after 36 months of employment.
                                                        </p>
                                                    </div>
                                                </div>
                            
                                                <div style="display: flex; margin: 5px 0px">
                                                    <div style="flex: 1">
                                                        <p style="font-weight: 700; text-align: left; font-size: 20px; margin: 5px 0px">
                                                            Duties And Responsibilities:
                                                        </p>
                            
                                                        <p style="font-weight: 500; text-align: left; font-size: 18px; margin: 5px 0px">
                                                            "You are required to perform the duties and responsibilities related to your position at any division, department or section
                                                            in the Company or within the Group of Companies.
                                                        </p>
                                                        <p style="font-weight: 600; text-align: left; font-size: 20px; margin: 5px 0px">
                                                            A handout of your duties and responsibilities will be given to you once the acceptance offer is signed and returned.
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- footer -->
                                        <div id="foot2">
                                                <div style="position: fixed; bottom: 20px; width: 85%">
                                                        <span style="font-weight: 700;width: inherit; display: block; margin: 5px 0px; text-align: left; font-size: 16px; border-bottom: 1px solid black; padding: 2px; color: red">
                                                            www.gel1947.com
                                                        </span>
                                                        <span style="text-align: left">
                                                            <p style="font-weight: 500; padding: 0%; margin: 0%">Registered Office F-302 Sindh Industrial Trading Estaet - site
                                                                <span style="color: red">|</span>
                                                                Karachi
                                                                <span style="color: red">|</span> Pakistan</p>
                                                            <p style="font-weight: 500; padding: 0%; margin: 0%">Regional Offices: lahore
                                                                <span style="color: red">|</span>
                                                                Rawalpindi</p>
                                                            <p style="font-weight: 500; padding: 0%; margin: 0%">Liasion: USA
                                                                <span style="color: red">|</span>
                                                                European Union
                                                                <span style="color: red">|</span> ROC</p>
                                                        </span>
                                                    </div>
                                                            <div style="position: fixed; bottom: 0px; right: 70px; width: 15%">
                                                                <img src="../../images/Greeshams Logo.png" width="170px" height="100px" alt="" style="border: 1px solid black; padding: 1px">
                                                            </div>
                                        </div>
                                        <!-- end of footer -->
                            
                            
                                    </div>
                                    <div id="pg3">
                                        <!-- header -->
                                        <div style="display: flex; padding: 5px">
                                            <div style="flex: 1; text-align: left">
                                                <img src="../../images/Greeshams Logo.png" alt="" width="60%">
                            
                                            </div>
                                            <div style="flex: 1;text-align: right;">
                                                <h4 style="font-weight: 500; margin: 0%; padding: 0px">GRESHAM'S EASTERN [PRIVATE] LIMITED</h4>
                                                <p style="font-weight: 500; padding: 0%; margin: 0%">Business Center
                                                    <span style="color: red">|</span>
                                                    P.E.C.H.S, Block-6</p>
                                                <p style="font-weight: 500; padding: 0%; margin: 0%">Plot 19/1-A
                                                    <span style="color: red">|</span>
                                                    Suite 702, 7th Floor</p>
                                                <p style="font-weight: 500; padding: 0%; margin: 0%">Main Shahrah-e-Faisal</p>
                                                <p style="font-weight: 500; padding: 0%; margin: 0%">Karachi 75400
                                                    <span style="color: red">|</span>
                                                    Pakistan</p>
                                                <br />
                                                <p style="font-weight: 500; padding: 0%; margin: 0%">Tel: +92 21 343 24530 [06 Lines]</p>
                                                <p style="font-weight: 500; padding: 0%; margin: 0%">Mobile: +92 300 24080</p>
                                                <p style="font-weight: 500; padding: 0%; margin: 0%">Fax: +92 21 343 24080</p>
                                                <p style="font-weight: 500; padding: 0%; margin: 0%">Sales@gel1947.com</p>
                                            </div>
                                        </div>
                                        <!-- end of header -->
                            
                                        <div style="display: flex">
                                            <div>
                                                <div style="flex: 1">
                                                    <p style="font-weight: 600; text-align: left; font-size: 20px; margin: 5px 0px">
                                                        RULES, REGULATIONS & CONFIDENTIALITY: </p>
                                                </div>
                                                <div style="flex: 1">
                                                    <p style="font-weight: 600; text-align: left; font-size: 18px; margin: 5px 20px">
                                                        You are required to sign a Non Compete and a Non Disclosure agreement.
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                            
                                        <div style="display: flex">
                                            <div>
                                                <div style="flex: 1">
                                                    <p style="font-weight: 600; text-align: left; font-size: 20px; margin: 5px 0px">
                                                        WORKING HOURS
                                                    </p>
                                                </div>
                                                <div style="flex: 1">
                                                    <p style="font-weight: 600; text-align: left; font-size: 18px; margin: 5px 20px">
                                                        Working days are from Monday to Saturday. The company has a 48 hour work week.
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                            
                                        <div style="display: flex; margin: 0px 10px">
                                            <div style="flex: 1">
                                                <p style="font-weight: 700; text-align: left; font-size: 18px; margin: 2px 15px">
                                                    Monday to Thursday
                                                </p>
                                            </div>
                                            <div style="flex: 1">
                                                <p style="font-weight: 500; text-align: left; font-size: 18px; margin: 2px 0px">
                                                    9.00 a.m. to 5.15 p.m.
                                                </p>
                                            </div>
                                        </div>
                            
                                        <div style="display: flex; margin: 0px 10px">
                                            <div style="flex: 1">
                                                <p style="font-weight: 500; text-align: left; font-size: 18px; margin: 2px 15px">
                                                    Lunch time
                                                </p>
                                            </div>
                                            <div style="flex: 1">
                                                <p style="font-weight: 500; text-align: left; font-size: 18px; margin: 2px 0px">
                                                    1.00 p.m. to 2.00 p.m.
                                                </p>
                                            </div>
                                        </div>
                            
                                        <div style="display: flex; margin: 5px 10px">
                                            <div style="flex: 1">
                                                <p style="font-weight: 700; text-align: left; font-size: 18px; margin: 2px 15px">
                                                    Friday
                                                </p>
                                            </div>
                                            <div style="flex: 1">
                                                <p style="font-weight: 500; text-align: left; font-size: 18px; margin: 2px 0px">
                                                    9.00 a.m. to 5.15 p.m.
                                                </p>
                                            </div>
                                        </div>
                            
                                        <div style="display: flex; margin: 0px 10px">
                                            <div style="flex: 1">
                                                <p style="font-weight: 500; text-align: left; font-size: 18px; margin: 2px 15px">
                                                    Lunch time
                                                </p>
                                            </div>
                                            <div style="flex: 1">
                                                <p style="font-weight: 500; text-align: left; font-size: 18px; margin: 2px 0px">
                                                    1.00 p.m. to 2.30 p.m.
                                                </p>
                                            </div>
                                        </div>
                                        <div style="display: flex; margin: 0px 10px">
                                            <div style="flex: 1">
                                                <p style="font-weight: 500; text-align: left; font-size: 18px; margin: 2px 15px">
                                                    Saturday
                                                </p>
                                            </div>
                                            <div style="flex: 1">
                                                <p style="font-weight: 500; text-align: left; font-size: 18px; margin: 2px 0px">
                                                    9.00 a.m. to 5.15 p.m.
                                                </p>
                                            </div>
                                        </div>
                                        <div style="display: flex; margin: 0px 10px">
                                            <div style="flex: 1">
                                                <p style="font-weight: 500; text-align: left; font-size: 18px; margin: 2px 15px">
                                                    Lunch time
                                                </p>
                                            </div>
                                            <div style="flex: 1">
                                                <p style="font-weight: 500; text-align: left; font-size: 18px; margin: 2px 0px">
                                                    1.00 p.m. to 2.00 p.m.
                                                </p>
                                            </div>
                                        </div>
                            
                                        <div style="display: flex; margin: 0px 10px">
                                            <div style="flex: 1">
                                                <p style="font-weight: 500; text-align: left; font-size: 18px; margin: 0px 0px">
                                                    *The administration policy defines 3 late arrivals beyond 9.15 as 1 Absent.
                                                </p>
                                            </div>
                                        </div>
                            
                                        <div style="display: flex; margin: 0px 10px">
                                            <div style="flex: 1">
                                                <p style="font-weight: 500; text-align: left; font-size: 18px; margin: 0px 0px">
                                                    This will not be adjusted against any allowable leaves. </p>
                                            </div>
                                        </div>
                            
                                        <div style="display: flex; margin: 0px 10px">
                                            <div style="flex: 1">
                                                <p style="font-weight: 500; text-align: left; font-size: 18px; margin: 0px 0px">
                                                    *Tampering of time sheet or false entry is subject to strict disciplinary action and possible Termination. </p>
                                            </div>
                                        </div>
                            
                                        <div style="display: flex; margin: 0px 10px">
                                            <div style="flex: 1">
                                                <p style="font-weight: 500; text-align: left; font-size: 18px; margin: 0px 0px">
                                                    "The Company reserves the right to change your working days and hours." </p>
                                            </div>
                                        </div>
                            
                                        <div style="display: flex">
                                            <div>
                                                <div style="flex: 1">
                                                    <h3 style="font-weight: 600; text-align: left; font-size: 20px; margin: 5px 0px">
                                                        ANNUAL LEAVE/HOLIDAYS:
                                                    </h3>
                                                </div>
                                                <div style="flex: 1">
                                                    <p style="font-weight: 600; text-align: left; font-size: 18px; margin: 0px 20px">
                                                        Rules and Regulations for Leaves
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                            
                                        <div style="display: flex">
                                            <div>
                                                <div style="flex: 1">
                                                    <p style="font-weight: 600; text-align: left; font-size: 18px; margin: 0px 20px">
                                                        As per Company policy
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                            
                                        <div style="display: flex">
                                            <div>
                                                <div style="flex: 1">
                                                    <p style="font-weight: 600; text-align: left; font-size: 18px; margin: 0px 20px">
                                                        Upon completion of probationary period and after confirmation of employment after probationary period.
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                            
                                        <div style="display: flex; margin: 0px 10px">
                                            <div style="flex: 2">
                                                <p style="font-weight: 500; text-align: left; font-size: 18px; margin: 2px 15px">
                                                    Annual Leaves, after completion of one year of service
                                                </p>
                                            </div>
                                            <div style="flex: 1">
                                                <p style="font-weight: 500; text-align: left; font-size: 18px; margin: 2px 0px">
                                                    <span style="text-decoration: underline;" id="el">_________________</span> days
                                                </p>
                                            </div>
                                        </div>
                            
                                        <div style="display: flex; margin: 0px 10px">
                                            <div style="flex: 2">
                                                <p style="font-weight: 500; text-align: left; font-size: 18px; margin: 2px 15px">
                                                    Sick leaves upon confirmation
                                                </p>
                                            </div>
                                            <div style="flex: 1">
                                                <p style="font-weight: 500; text-align: left; font-size: 18px; margin: 2px 0px">
                                                    <span style="text-decoration: underline;" id="sl">_________________</span> days
                                                </p>
                                            </div>
                                        </div>
                            
                                        <div style="display: flex; margin: 0px 10px">
                                            <div style="flex: 2">
                                                <p style="font-weight: 500; text-align: left; font-size: 18px; margin: 2px 15px">
                                                    Casual leaves upon confirmation
                                                </p>
                                            </div>
                                            <div style="flex: 1">
                                                <p style="font-weight: 500; text-align: left; font-size: 18px; margin: 2px 0px">
                                                    <span style="text-decoration: underline;" id="cl">_________________</span> days
                                                </p>
                                            </div>
                                        </div>
                                        <div style="display: flex; margin: 0px 10px">
                                            <div style="flex: 2">
                                                <p style="font-weight: 500; text-align: left; font-size: 18px; margin: 2px 15px">
                                                    See terms and conditions
                                                </p>
                                            </div>
                                        </div>
                            
                                        <div style="display: flex">
                                            <div>
                                                <div style="flex: 1">
                                                    <p style="font-weight: 600; text-align: left; font-size: 18px; margin: 0px 20px">
                                                        TRANSFER/SECONDMENT:
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                            
                                        <div style="display: flex; margin: 0px 10px">
                                            <div style="flex: 2">
                                                <p style="font-weight: 500; text-align: left; font-size: 18px; margin: 2px 15px">
                                                    You are subject to transfer to any place where the Company has an office or when required in the course of performing your
                                                    duties.
                            
                                                </p>
                                            </div>
                                        </div>
                            
                                        <!-- footer -->
                                        <div id="foot3">
                                                <div style="position: fixed; bottom: 20px; width: 85%">
                                                        <span style="font-weight: 700;width: inherit; display: block; margin: 5px 0px; text-align: left; font-size: 16px; border-bottom: 1px solid black; padding: 2px; color: red">
                                                            www.gel1947.com
                                                        </span>
                                                        <span style="text-align: left">
                                                            <p style="font-weight: 500; padding: 0%; margin: 0%">Registered Office F-302 Sindh Industrial Trading Estaet - site
                                                                <span style="color: red">|</span>
                                                                Karachi
                                                                <span style="color: red">|</span> Pakistan</p>
                                                            <p style="font-weight: 500; padding: 0%; margin: 0%">Regional Offices: lahore
                                                                <span style="color: red">|</span>
                                                                Rawalpindi</p>
                                                            <p style="font-weight: 500; padding: 0%; margin: 0%">Liasion: USA
                                                                <span style="color: red">|</span>
                                                                European Union
                                                                <span style="color: red">|</span> ROC</p>
                                                        </span>
                                                    </div>
                                                            <div style="position: fixed; bottom: 0px; right: 70px; width: 15%">
                                                                <img src="../../images/Greeshams Logo.png" width="170px" height="100px" alt="" style="border: 1px solid black; padding: 1px">
                                                            </div>
                                        </div>
                                        <!-- end of footer -->
                            
                                    </div>
                                    <div id="pg4">
                                        <!-- header -->
                                        <div style="display: flex; padding: 5px">
                                            <div style="flex: 1; text-align: left">
                                                <img src="../../images/Greeshams Logo.png" alt="" width="60%">
                            
                                            </div>
                                            <div style="flex: 1;text-align: right;">
                                                <h4 style="font-weight: 500; margin: 0%; padding: 0px">GRESHAM'S EASTERN [PRIVATE] LIMITED</h4>
                                                <p style="font-weight: 500; padding: 0%; margin: 0%">Business Center
                                                    <span style="color: red">|</span>
                                                    P.E.C.H.S, Block-6</p>
                                                <p style="font-weight: 500; padding: 0%; margin: 0%">Plot 19/1-A
                                                    <span style="color: red">|</span>
                                                    Suite 702, 7th Floor</p>
                                                <p style="font-weight: 500; padding: 0%; margin: 0%">Main Shahrah-e-Faisal</p>
                                                <p style="font-weight: 500; padding: 0%; margin: 0%">Karachi 75400
                                                    <span style="color: red">|</span>
                                                    Pakistan</p>
                                                <br />
                                                <p style="font-weight: 500; padding: 0%; margin: 0%">Tel: +92 21 343 24530 [06 Lines]</p>
                                                <p style="font-weight: 500; padding: 0%; margin: 0%">Mobile: +92 300 24080</p>
                                                <p style="font-weight: 500; padding: 0%; margin: 0%">Fax: +92 21 343 24080</p>
                                                <p style="font-weight: 500; padding: 0%; margin: 0%">Sales@gel1947.com</p>
                                            </div>
                                        </div>
                                        <!-- end of header -->
                            
                                        <div style="display: flex; margin: 10px 10px">
                                            <div style="flex: 1">
                                                <p style="font-weight: 700; text-align: left; font-size: 20px; margin: 0px 0px">
                                                    PROVIDENT FUND:
                                                </p>
                                            </div>
                                        </div>
                            
                                        <div style="display: flex; margin: 10px 10px">
                                            <div style="flex: 1">
                                                <p style="font-weight: 500; text-align: left; font-size: 18px; margin: 0px 0px">
                                                    This states the contribution to Employees Provident Fund (if any). Legislation may provide for this. Stipuate this in contract
                                                </p>
                                            </div>
                                        </div>
                            
                                        <div style="display: flex; margin: 10px 10px">
                                            <div style="flex: 1">
                                                <p style="font-weight: 700; text-align: left; font-size: 20px; margin: 0px 0px">
                                                    GROUP PERSONAL ACCIDENT INSURANCE (GPA):
                                                </p>
                                            </div>
                                        </div>
                            
                                        <div style="display: flex; margin: 10px 10px">
                                            <div style="flex: 1">
                                                <p style="font-weight: 500; text-align: left; font-size: 18px; margin: 0px 0px">
                                                    This may be a rider on group life insurance or has a rider on "hospitalization and surgical".
                                                </p>
                                            </div>
                                        </div>
                            
                                        <div style="display: flex; margin: 10px 10px">
                                            <div style="flex: 1">
                                                <p style="font-weight: 700; text-align: left; font-size: 20px; margin: 0px 0px">
                                                    RETIREMENT:
                                                </p>
                                            </div>
                                        </div>
                            
                                        <div style="display: flex; margin: 10px 10px">
                                            <div style="flex: 1">
                                                <p style="font-weight: 500; text-align: left; font-size: 18px; margin: 0px 0px">
                                                    The Company has a flexible retirement policy. Employees are encouraged to work beyond official retirement age.
                                                </p>
                                            </div>
                                        </div>
                            
                                        <div style="display: flex; margin: 10px 10px">
                                            <div style="flex: 1">
                                                <p style="font-weight: 500; text-align: left; font-size: 18px; margin: 0px 0px">
                                                    If you find that the terms are favorable, please indicate your acceptance within five days (5) from the date of this letter.
                                                </p>
                                            </div>
                                        </div>
                            
                                        <div style="display: flex; margin: 10px 10px">
                                            <div style="flex: 1">
                                                <p style="font-weight: 500; text-align: left; font-size: 18px; margin: 0px 0px">
                                                    This offer will automatically lapse and can no longer be accepted if we do not hear from you by the stipulated date.**
                                                </p>
                                            </div>
                                        </div>
                            
                                        <div style="display: flex; margin: 10px 10px">
                                            <div style="flex: 1">
                                                <p style="font-weight: 500; text-align: left; font-size: 18px; margin: 0px 0px">
                                                    Thank you.
                                                </p>
                                            </div>
                                        </div>
                            
                                        <div style="display: flex; margin: 10px 10px">
                                            <div style="flex: 1">
                                                <p style="font-weight: 500; text-align: left; font-size: 18px; margin: 0px 0px">
                                                    Yours sincerely,
                                                </p>
                                            </div>
                                        </div>
                            
                                        <div style="display: flex; margin: 10px 10px">
                                            <div style="flex: 1">
                                                <p style="font-weight: 500; text-align: left; font-size: 18px; margin: 0px 0px">
                                                    for and on behalf of
                                                    <span style="font-weight: 700">Gresham Eastern Private Limited</span>
                                                </p>
                                            </div>
                                        </div>
                            
                                        <br/>
                                        <br/>
                                        <br/>
                                        <br/>
                                        <br/>
                                        <br/>
                                        <br/>
                                        <br/>
                            
                                        <div style="width: 30%; border-top: 1px solid black">
                                            <span style="font-weight: 700; display: block">Mian Suhail Husain</span>
                                            <span style="font-weight: 500">C.E.O/ Director</span>
                                        </div>
                            
                                        <!-- footer -->
                                        <div id="foot4">
                                                <div style="position: fixed; bottom: 20px; width: 85%">
                                                        <span style="font-weight: 700;width: inherit; display: block; margin: 5px 0px; text-align: left; font-size: 16px; border-bottom: 1px solid black; padding: 2px; color: red">
                                                            www.gel1947.com
                                                        </span>
                                                        <span style="text-align: left">
                                                            <p style="font-weight: 500; padding: 0%; margin: 0%">Registered Office F-302 Sindh Industrial Trading Estaet - site
                                                                <span style="color: red">|</span>
                                                                Karachi
                                                                <span style="color: red">|</span> Pakistan</p>
                                                            <p style="font-weight: 500; padding: 0%; margin: 0%">Regional Offices: lahore
                                                                <span style="color: red">|</span>
                                                                Rawalpindi</p>
                                                            <p style="font-weight: 500; padding: 0%; margin: 0%">Liasion: USA
                                                                <span style="color: red">|</span>
                                                                European Union
                                                                <span style="color: red">|</span> ROC</p>
                                                        </span>
                                                    </div>
                                                            <div style="position: fixed; bottom: 0px; right: 70px; width: 15%">
                                                                <img src="../../images/Greeshams Logo.png" width="170px" height="100px" alt="" style="border: 1px solid black; padding: 1px">
                                                            </div>
                                        </div>
                                        <!-- end of footer -->
                                    </div>
                                    <div id="pg5">
                                        <!-- header -->
                                        <div style="display: flex; padding: 5px">
                                            <div style="flex: 1; text-align: left">
                                                <img src="../../images/Greeshams Logo.png" alt="" width="60%">
                            
                                            </div>
                                            <div style="flex: 1;text-align: right;">
                                                <h4 style="font-weight: 500; margin: 0%; padding: 0px">GRESHAM'S EASTERN [PRIVATE] LIMITED</h4>
                                                <p style="font-weight: 500; padding: 0%; margin: 0%">Business Center
                                                    <span style="color: red">|</span>
                                                    P.E.C.H.S, Block-6</p>
                                                <p style="font-weight: 500; padding: 0%; margin: 0%">Plot 19/1-A
                                                    <span style="color: red">|</span>
                                                    Suite 702, 7th Floor</p>
                                                <p style="font-weight: 500; padding: 0%; margin: 0%">Main Shahrah-e-Faisal</p>
                                                <p style="font-weight: 500; padding: 0%; margin: 0%">Karachi 75400
                                                    <span style="color: red">|</span>
                                                    Pakistan</p>
                                                <br />
                                                <p style="font-weight: 500; padding: 0%; margin: 0%">Tel: +92 21 343 24530 [06 Lines]</p>
                                                <p style="font-weight: 500; padding: 0%; margin: 0%">Mobile: +92 300 24080</p>
                                                <p style="font-weight: 500; padding: 0%; margin: 0%">Fax: +92 21 343 24080</p>
                                                <p style="font-weight: 500; padding: 0%; margin: 0%">Sales@gel1947.com</p>
                                            </div>
                                        </div>
                                        <!-- end of header -->
                            
                            
                                        <div style="display: flex; margin: 10px 10px">
                                            <div style="flex: 1">
                                                <p style="font-weight: 500; text-align: left; font-size: 18px; margin: 0px 0px">
                                                    I have read and understood the terms and conditions stated in the appointment letter and hereby confirm my acceptance / rejection
                                                    of the offer of appointment as
                                                    <span style="text-decoration: underline;" id="appointment1">________________</span>.
                                                </p>
                                            </div>
                                        </div>
                            
                                        <br/>
                                        <br/>
                                        <br/>
                            
                                        <div style="width: 40%;">
                                            <span style="font-weight: 700; text-decoration: underline;" id="mrname">________________________</span>
                                            <span style="font-weight: 700; display: block">Mr.</span>
                                        </div>
                                        <br/>
                                        <div style="width: 40%;">
                                            <p>Dated :
                                                <span style="font-weight: 500; display: block; text-decoration: underline;" id="dated">___________________</span>
                                            </p>
                                        </div>
                            
                                        <hr/>
                            
                                        <div style="display: flex; margin: 10px 10px">
                                            <div style="flex: 1">
                                                <p style="font-weight: 600; text-align: left; font-size: 18px; margin: 0px 0px">
                                                    Department use only- To be completed by HR
                                                </p>
                                            </div>
                                        </div>
                            
                                        <div style="display: flex; margin: 10px 10px">
                                            <div style="flex: 1">
                                                <p style="font-weight: 500; text-align: left; font-size: 18px; margin: 2px 15px">
                                                    2 passport size photographs
                                                </p>
                                            </div>
                                            <div style="flex: 1">
                                                <p style="font-weight: 500; text-align: left; font-size: 18px; margin: 2px 0px">
                                                    <input type="checkbox" value=""> Yes
                                                    <input type="checkbox"> No
                                                </p>
                                            </div>
                                        </div>
                            
                                        <div style="display: flex; margin: 10px 10px">
                                            <div style="flex: 1">
                                                <p style="font-weight: 500; text-align: left; font-size: 18px; margin: 2px 15px">
                                                    2 NIC copies
                                                </p>
                                            </div>
                                            <div style="flex: 1">
                                                <p style="font-weight: 500; text-align: left; font-size: 18px; margin: 2px 0px">
                                                    <input type="checkbox" value=""> Yes
                                                    <input type="checkbox"> No
                                                </p>
                                            </div>
                                        </div>
                            
                                        <div style="display: flex; margin: 10px 10px">
                                            <div style="flex: 1">
                                                <p style="font-weight: 500; text-align: left; font-size: 18px; margin: 2px 15px">
                                                    Completed employment form
                                                </p>
                                            </div>
                                            <div style="flex: 1">
                                                <p style="font-weight: 500; text-align: left; font-size: 18px; margin: 2px 0px">
                                                    <input type="checkbox" value=""> Yes
                                                    <input type="checkbox"> No
                                                </p>
                                            </div>
                                        </div>
                            
                                        <div style="display: flex; margin: 10px 10px">
                                            <div style="flex: 1">
                                                <p style="font-weight: 500; text-align: left; font-size: 18px; margin: 2px 15px">
                                                    Non Compete agreement
                                                </p>
                                            </div>
                                            <div style="flex: 1">
                                                <p style="font-weight: 500; text-align: left; font-size: 18px; margin: 2px 0px">
                                                    <input type="checkbox" value=""> Yes
                                                    <input type="checkbox"> No
                                                </p>
                                            </div>
                                        </div>
                            
                                        <div style="display: flex; margin: 10px 10px">
                                            <div style="flex: 1">
                                                <p style="font-weight: 500; text-align: left; font-size: 18px; margin: 2px 15px">
                                                    Non Disclosure agreement
                                                </p>
                                            </div>
                                            <div style="flex: 1">
                                                <p style="font-weight: 500; text-align: left; font-size: 18px; margin: 2px 0px">
                                                    <input type="checkbox" value=""> Yes
                                                    <input type="checkbox"> No
                                                </p>
                                            </div>
                                        </div>
                            
                                        <div style="display: flex; margin: 10px 10px">
                                            <div style="flex: 1">
                                                <p style="font-weight: 500; text-align: left; font-size: 18px; margin: 2px 15px">
                                                    Employee Emergency contact form
                                                </p>
                                            </div>
                                            <div style="flex: 1">
                                                <p style="font-weight: 500; text-align: left; font-size: 18px; margin: 2px 0px">
                                                    <input type="checkbox" value=""> Yes
                                                    <input type="checkbox"> No
                                                </p>
                                            </div>
                                        </div>
                            
                                        <div style="display: flex; margin: 10px 10px">
                                            <div style="flex: 1">
                                                <p style="font-weight: 500; text-align: left; font-size: 18px; margin: 2px 15px">
                                                    Employee handbook
                                                </p>
                                            </div>
                                            <div style="flex: 1">
                                                <p style="font-weight: 500; text-align: left; font-size: 18px; margin: 2px 0px">
                                                    <input type="checkbox" value=""> Yes
                                                    <input type="checkbox"> No
                                                </p>
                                            </div>
                                        </div>
                            
                                        <div style="display: flex; margin: 10px 10px">
                                            <div style="flex: 1">
                                                <p style="font-weight: 500; text-align: left; font-size: 18px; margin: 2px 15px">
                                                    Educational Documents and Certificates
                                                </p>
                                            </div>
                                            <div style="flex: 1">
                                                <p style="font-weight: 500; text-align: left; font-size: 18px; margin: 2px 0px">
                                                    <input type="checkbox" value=""> Yes
                                                    <input type="checkbox"> No
                                                </p>
                                            </div>
                                        </div>
                            
                                        <div style="display: flex; margin: 10px 10px">
                                            <div style="flex: 1">
                                                <p style="font-weight: 500; text-align: left; font-size: 18px; margin: 2px 15px">
                                                    Job Description / Training Plan
                                                </p>
                                            </div>
                                            <div style="flex: 1">
                                                <p style="font-weight: 500; text-align: left; font-size: 18px; margin: 2px 0px">
                                                    <input type="checkbox" value=""> Yes
                                                    <input type="checkbox"> No
                                                </p>
                                            </div>
                                        </div>
                            
                                        <div style="display: flex; margin: 10px 10px">
                                            <div style="flex: 1">
                                                <p style="font-weight: 500; text-align: left; font-size: 18px; margin: 2px 15px">
                                                    Completed on
                                                </p>
                                            </div>
                                        </div>
                            
                                        <br/>
                                        <br/>
                                        <br/>
                                        <div style="width: 20%; border-top: 1px solid black">
                                            <span style="font-weight: 700; display: block">HR Officer</span>
                                        </div>
                            
                                        <!-- footer -->
                                        <div id="foot5">
                                                <div style="position: fixed; bottom: 20px; width: 85%">
                                                        <span style="font-weight: 700;width: inherit; display: block; margin: 5px 0px; text-align: left; font-size: 16px; border-bottom: 1px solid black; padding: 2px; color: red">
                                                            www.gel1947.com
                                                        </span>
                                                        <span style="text-align: left">
                                                            <p style="font-weight: 500; padding: 0%; margin: 0%">Registered Office F-302 Sindh Industrial Trading Estaet - site
                                                                <span style="color: red">|</span>
                                                                Karachi
                                                                <span style="color: red">|</span> Pakistan</p>
                                                            <p style="font-weight: 500; padding: 0%; margin: 0%">Regional Offices: lahore
                                                                <span style="color: red">|</span>
                                                                Rawalpindi</p>
                                                            <p style="font-weight: 500; padding: 0%; margin: 0%">Liasion: USA
                                                                <span style="color: red">|</span>
                                                                European Union
                                                                <span style="color: red">|</span> ROC</p>
                                                        </span>
                                                    </div>
                                                            <div style="position: fixed; bottom: 0px; right: 70px; width: 15%">
                                                                <img src="../../images/Greeshams Logo.png" width="170px" height="100px" alt="" style="border: 1px solid black; padding: 1px">
                                                            </div>
                                        </div>
                                        <!-- end of footer -->
                                    </div>
                                </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
                <div>
                        <button style="float: right; margin: 10px; border: 1px black solid" class="btn btn-primary" onclick="paging(1)" id="next">Next</button>
                        <button style="float: right; margin: 10px; border: 1px black solid" class="btn btn-primary" onclick="paging(-1)" id="prev">Previous</button>
                        <button style="float: right; margin: 10px; border: 1px black solid" class="btn btn-primary" onclick="printDiv(mainDiv)">Print</button>
                    </div>
        </div>
    </div>
    
   
</body>
<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
crossorigin="anonymous"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
crossorigin="anonymous"></script>

<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
crossorigin="anonymous"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

<script>
    $(document).ready(function () {
        $('.collapsible').collapsible();
    });

    $(document).ready(function () {
        $('.sidenav').sidenav();
    });
</script>

<script>
    var employees = [];

    function load() {
        $.get('/modules/get_employees', function (data) {
            employees = data.employees;
            console.log(data);
        })
    }
    load();

    function printDiv(divName) {
        var printContents = divName.innerHTML;
        var originalContents = document.body.innerHTML;

        document.body.innerHTML = printContents;
        footer.style.display = "block"

        window.print();

        document.body.innerHTML = originalContents;
        footer.style.display = "none"
    }

    function foot(footer) {
        footer.style.display = "none"
    }

    function search_result(e) {
        if (e.value.length == 0) {
            document.getElementById('search_list').innerHTML = "";
            document.getElementById("search_list").style.border = "0px";
            return
        }
        let str = '<div style="max-height:8em;overflow:scroll"><ul>';
        employees.forEach((p) => {
            console.log(p.name)
            if (p.name.toLowerCase().indexOf(e.value.toLowerCase()) !== -1) {
                str += `<li ><button class="btn btn-primary" onClick="fetch('` + p._id + `')">` + p.name +
                    `</button></li>`
            }
        });
        str += '</ul></div>'
        console.log(str);
        document.getElementById('search_list').innerHTML = '';
        document.getElementById('search_list').innerHTML = str;
        document.getElementById("search_list").style.border = "1px";
        console.log(e.value);

    }

    function fetch(id) {
        var today = new Date();
        var dd = today.getDate();
        var mm = today.getMonth() + 1; //January is 0!
        var yyyy = today.getFullYear();

        if (dd < 10) {
            dd = '0' + dd
        }

        if (mm < 10) {
            mm = '0' + mm
        }
        var gs, ns

        today = mm + '/' + dd + '/' + yyyy;
        employees.forEach((p) => {
            if (p._id === id) {
                document.getElementById('name').innerHTML = p.name;
                document.getElementById('dear').innerHTML = p.name;
                document.getElementById('address').innerHTML = p.address;
                document.getElementById('appointment').innerHTML = p.designation;
                document.getElementById('position').innerHTML = p.designation;
                document.getElementById('effect').innerHTML = today;
                document.getElementById('basic_salary').innerHTML = p.basic_salary;
                document.getElementById('hra').innerHTML = p.a_hr;
                document.getElementById('la').innerHTML = p.a_lunch;
                document.getElementById('mpa').innerHTML = p.a_mobile;
                document.getElementById('ta').innerHTML = p.a_transport;
                gs = parseInt(p.a_hr) + parseInt(p.a_lunch) + parseInt(p.a_mobile) + parseInt(p.a_transport) +
                    parseInt(p.basic_salary)
                document.getElementById('gs').innerHTML = gs
                document.getElementById('it').innerHTML = p.d_tax;
                document.getElementById('rbs').innerHTML = p.d_retention;
                document.getElementById('saleng').innerHTML = p.d_sales;
                ns = gs - parseInt(p.d_tax) + parseInt(p.d_retention) + parseInt(p.d_sales)
                document.getElementById('ns').innerHTML = ns
                document.getElementById('el').innerHTML = p.el
                document.getElementById('sl').innerHTML = p.sl
                document.getElementById('cl').innerHTML = p.cl
                document.getElementById('appointment1').innerHTML = p.designation
                console.log('==>', p.designation)
                document.getElementById('mrname').innerHTML = p.name;
                document.getElementById('dated').innerHTML = today;
            }
        })
    }

    function divHide() {
        // document.getElementById('pg1').style.display = 'none'
        document.getElementById('pg2').style.display = 'none'
        document.getElementById('pg3').style.display = 'none'
        document.getElementById('pg4').style.display = 'none'
        document.getElementById('pg5').style.display = 'none'
        document.getElementById('foot1').style.display = 'none'
        document.getElementById('foot2').style.display = 'none'
        document.getElementById('foot3').style.display = 'none'
        document.getElementById('foot4').style.display = 'none'
        document.getElementById('foot5').style.display = 'none'
    }

    var count = 0
    if (!count) {
        document.getElementById('prev').style.display = "none"
    }

    function paging(num) {
        count = count + num
        console.log(count)

        if (count < 5 && num == 1) {
            document.getElementById(`pg${count}`).style.display = 'none'
            document.getElementById(`pg${count + num}`).style.display = 'block'
        } else {
            document.getElementById(`pg${count + 1}`).style.display = 'block'
            document.getElementById(`pg${count + 2}`).style.display = 'none'
        }

        if (count == 4) {
            document.getElementById('next').style.display = "none"
        } else {
            document.getElementById('next').style.display = "block"
        }

        if (count) {
            document.getElementById('prev').style.display = "block"
            document.getElementById('header1').style.display = "none"
        } else {
            document.getElementById('prev').style.display = "none"
            document.getElementById('header1').style.display = "block"
        }
    }

    function printDiv(divName) {
        document.getElementById(`foot${count + 1}`).style.display = "block"   
        document.getElementById('ttl').innerHTML = "&nbsp;"
        var printContents = divName.innerHTML;
        // console.log(count)
        var originalContents = document.body.innerHTML;
        
        document.body.innerHTML = printContents;

        window.print();

        document.body.innerHTML = originalContents;
        document.getElementById('ttl').innerHTML = "Appointment Letter - Human Resource Management"
        document.getElementById(`foot${count + 1}`).style.display = "none"        
    }
</script>

</html>