<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
        crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <title>Confirmation Letter - Human Resource Management</title>
    <style>
        @media only screen and (min-width: 993px) {
            nav a.button-collapse {
                display: block;
            }
        }
    </style>
    <style type="text/css" media="print">
        @page {
            size: auto;
            /* auto is the initial value */
            margin: 0;
            /* this affects the margin in the printer settings */
            margin-left: 20px;
            margin-right: 20px;
            margin-bottom: 20px;

        }
    </style>
</head>

<body onload="foot(footer)">
    <div>
        <nav style="background-color: #004b92;">
            <a data-target="slide-out" class="button-collapse sidenav-trigger btn-flat btn-large waves-effect waves-light"
                style="background-color: #004b92;"><i class="material-icons">dehaze</i></a>

            <h3 style="color: white; text-align: center; padding: 15px 0px">Human Resource Management</h3>
        </nav>


        <ul id="slide-out" class="sidenav">
            <li>
                <div class="user-view">
                    <div class="background">
                        <img src="https://images.freeimages.com/images/small-previews/4f7/blank-sign-bullet-holes-1447150.jpg">
                    </div>
                    <a href="#user"><img class="circle" src="https://images.freeimages.com/images/small-previews/4f7/blank-sign-bullet-holes-1447150.jpg"></a>
                    <a href="#name"><span class="white-text name">John Doe</span></a>
                    <a href="#email"><span class="white-text email">jdandturk@gmail.com</span></a>
                </div>
            </li>
            <li class="no-padding">
                <ul class="collapsible">
                    <li>
                        <div class="collapsible-header">
                            <a href="employees_list" style="display: block; color: black">Employees Details</a>
                        </div>
                    </li>
                    <li>
                        <div class="collapsible-header">
                            <a href="add_applicant" style="display: block; color: black">Add Applicant</a>
                        </div>
                    </li>
                    <li>
                        <div class="collapsible-header">Add Employees</div>
                        <div class="collapsible-body">
                            <a href="add_employee" style="display: block; padding-left: 20px; color: black">Add Staff</a>
                            <a href="add_labour" style="display: block;  padding-left: 20px; color: black">Add Labour</a>
                        </div>


                    </li>
                    <li>
                        <div class="collapsible-header">Letters</div>
                        <div class="collapsible-body">
                            <a href="appointment_letter" style="display: block; padding-left: 20px;color: black">Appointment
                                Letter</a>
                            <a href="contract_letter" style="display: block; padding-left: 20px;color: black">Contract
                                Letter</a>
                            <a href="confirmation_letter" style="display: block; padding-left: 20px;color: black">Conformation
                                Letter</a>
                            <a href="supported_docs" style="display: block; padding-left: 20px;color: black">Supported
                                Docs</a>
                        </div>
                    </li>
                    <li>
                        <div class="collapsible-header">
                            <a href="leaves_applications" style="display: block; color: black">Leaves Application</a>
                        </div>
                    </li>
                    <li>
                        <div class="collapsible-header">
                            <a href="resignations_info" style="display: block;color: black">Resignation info</a>
                        </div>
                    </li>
                </ul>
            </li>
        </ul>

    </div>
    <!-- end of nav -->

    <div class="container-fluid">
        <div class="container">
            <h1>Confirmation letter</h1>
            <div class="row">
                <div class='form-control-inline row' style='display:inline;'>
                    <input type='text' class='form-control' style='width:15em' onKeyUp="search_result(this)">
                </div>
                <div id='search_list'></div>

            </div>
            <div class="container">
                <div class="row">
                    <div class="col-md-1">&nbsp;</div>
                    <div class="col-md-10">
                        <div class="card img-thumbnail">
                            <div id="printableArea" style="text-align: center;margin: 50px">
                                <div>
                                    <!-- header -->
                                    <div style="display: flex; padding: 5px">
                                        <div style="flex: 1; text-align: left">
                                            <img src="../../images/Greeshams Logo.png" alt="" width="60%">

                                        </div>

                                        <div style="flex: 1;text-align: right;">
                                            <h4 style="font-weight:bolder; margin: 0%; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; padding: 0px; ">GRESHAM'S
                                                EASTERN [PRIVATE] LIMITED</h4>
                                            <p style="font: weight 500; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; padding: 0%; margin: 0%; font-size: 14px;  ">Business
                                                Center
                                                <span style="color: red">|</span>
                                                P.E.C.H.S, Block-6</p>
                                            <p style="font-weight:bolder; padding: 0%; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; margin: 0%; font-size: 14px; ">Plot
                                                19/1-A
                                                <span style="color: red">|</span>
                                                Suite 702, 7th Floor</p>
                                            <p style="font-weight:500; padding: 0%; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; margin: 0%; font-size: 14px; ">Main
                                                Shahrah-e-Faisal</p>
                                            <p style="font-weight:500; padding: 0%; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; margin: 0%; font-size: 14px; ">Karachi
                                                75400
                                                <span style="color: red">|</span>
                                                Pakistan</p>
                                            <br />
                                            <p style="font-weight: 500; padding: 0%; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; margin: 0%; font-size: 14px; ">Tel:
                                                +92 21 343 24530 [06 Lines]</p>
                                            <p style="font-weight: 500; padding: 0%; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; margin: 0%; font-size: 14px; ">Mobile:
                                                +92 300 24080</p>
                                            <p style="font-weight: 500; padding: 0%; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; margin: 0%; font-size: 14px; ">Fax:
                                                +92 21 343 24080</p>
                                            <p style="font-weight: 500; padding: 0%; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; margin: 0%; font-size: 14px; ">Sales@gel1947.com</p>
                                        </div>
                                    </div>

                                    <!-- end of header -->

                                    <div style="text-align: left">
                                        <div style="display: flex">
                                            <div style="flex: 1">
                                                <p>
                                                    <span>_____________</span>,201 <span>_</span>
                                                </p>
                                            </div>
                                        </div>

                                        <div style="display: flex; text-align: center">
                                            <div style="flex: 1">
                                                <p style="font-weight: 700; font-size: 22px; text-decoration: underline">
                                                    CONFIRMATION LETTER
                                                </p>
                                            </div>
                                        </div>

                                        <div style="display: flex">
                                            <div style="flex: 1">
                                                <p style="text-decoration:underline;">
                                                    dear Mr./ Mrs
                                                    <span style="text-decoration:underline;" id="name">(NAME)</span>
                                                </p>
                                            </div>
                                        </div>

                                        <div style="display: flex">
                                            <div style="flex: 1">
                                                <p>
                                                    Consequent to the review of your performance during your probation,
                                                    we
                                                    have the pleasure in informing you that, your services are being
                                                    conirmed as
                                                    (Designation) in (Department) with effect from (Date).

                                                </p>
                                            </div>
                                        </div>

                                        <div style="display: flex">
                                            <div style="flex: 1">
                                                <p>
                                                    All the other terms and conditions as detailed in your appointment
                                                    letter remain unchanged.
                                                </p>
                                            </div>
                                        </div>


                                        <div style="display: flex">
                                            <div style="flex: 1">
                                                <p>
                                                    We look forward to your valuable contributions and wish you all the
                                                    very best for a rewarding career with the organization
                                                </p>
                                                </p>
                                            </div>
                                        </div>

                                        <div style="display: flex">
                                            <div style="flex: 1">
                                                <p>
                                                    From Gresham's Eastern (Pvt.) Ltd.
                                                </p>
                                            </div>
                                        </div>


                                        <br>
                                      
                                        <br>
                                        <br>
                                        <br>
                                        <br>
                                       <div style="text-align: center">
                                            <div style="display: flex; text-align: center">
                                                    <div style="flex: 1; text-align: center">
                                                        <div style="border-top: 1px solid black; width: 50%; margin: 0 auto">
                                                            <p>Mian Idris Husain</p>
                                                            <b><p>DIRECTOR OPERATIONS</p></b>
                                                        </div>
                                                    </div>
        
                                                    <div style="flex: 1; text-align: center">
                                                        <div style="border-top: 1px solid black; width: 50%; margin: 0 auto">
                                                            <p>Mian Suhail Husain</p>
                                                            <b><p>C.E.O/ DIRECTOR</p><b>
                                                        </div>
                                                    </div>
                                                </div>
        
                                       </div>

                                    </div>





                                    <!-- footer -->
                                    <div id="footer">
                                        <div style="position: fixed; bottom: 20px; width: 85%">
                                            <span style="font-weight: 700;width: inherit; display: block; margin: 5px 0px; text-align: left; font-size: 16px; border-bottom: 1px solid black; padding: 2px; color: red">
                                                www.gel1947.com
                                            </span>
                                            <span style="text-align: left">
                                                <p style="font-weight: 500; padding: 0%; margin: 0%">Registered Office
                                                    F-302 Sindh Industrial Trading Estate - site
                                                    <span style="color: red">|</span>
                                                    Karachi
                                                    <span style="color: red">|</span> Pakistan</p>
                                                <p style="font-weight: 500; padding: 0%; margin: 0%">Regional Offices:
                                                    lahore
                                                    <span style="color: red">|</span>
                                                    Rawalpindi</p>
                                                <p style="font-weight: 500; padding: 0%; margin: 0%">Liasion: USA
                                                    <span style="color: red">|</span>
                                                    European Union
                                                    <span style="color: red">|</span> ROC</p>
                                            </span>
                                        </div>
                                        <div style="position: fixed; bottom: 0px; right: 70px; width: 15%">
                                            <img src="../../images/Greeshams Logo.png" width="170px" height="100px" alt=""
                                                style="border: 1px solid black; padding: 1px">
                                        </div>
                                    </div>
                                    <!-- end of footer -->

                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div style="text-align: center" class="col-md-12">
            <a class="btn col-md-4" style="text-align: center; background-color: #004b92; color: white; font-weight: 700"
                onclick="printDiv(printableArea)">Print</a>
        </div>

        <br />
        <br />
        <br />
        <br />
        <br />


</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
    crossorigin="anonymous"></script>

<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
    crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

<script>
    $(document).ready(function () {
        $('.collapsible').collapsible();
    });

    $(document).ready(function () {
        $('.sidenav').sidenav();
    });
    // autocomplete
</script>
<script>
    var employees = [];

    function load() {
        console.log('happenoing')
        $.get('/modules/get_employees', function (data) {
            employees = data.employees;
            console.log(data);
        })
    }
    load();



    function printDiv(divName) {
        var printContents = divName.innerHTML;
        var originalContents = document.body.innerHTML;

        document.body.innerHTML = printContents;
        footer.style.display = "block"

        window.print();

        document.body.innerHTML = originalContents;
        footer.style.display = "none"
    }

    function foot(footer) {
        footer.style.display = "none"
    }

    function search_result(e) {
        if (e.value.length == 0) {
            document.getElementById('search_list').innerHTML = "";
            document.getElementById("search_list").style.border = "0px";
            return
        }
        // let str = '<div style="max-height:8em;overflow:scroll"><ul>';
        let str = '';
        employees.forEach((p) => {
            console.log(p.name)
            if (p.name.toLowerCase().indexOf(e.value.toLowerCase()) !== -1) {
                // str += `<li ><button class="btn btn-primary" onClick="fetch('` + p._id + `')">` + p.name + `</button></li>`
                str += `<span class="badge badge-primary" onClick="fetch('` + p._id + `')">` + p.name +
                    `</span>`
            }
        });
        // str += '</ul></div>'
        console.log(str);
        document.getElementById('search_list').innerHTML = '';
        document.getElementById('search_list').innerHTML = str;
        document.getElementById("search_list").style.border = "1px";
        console.log(e.value);

    }

    function fetch(id) {
        //      alert(id);
        var today = new Date();
        var dd = today.getDate();
        var mm = today.getMonth() + 1; //January is 0!
        var yyyy = today.getFullYear();

        if (dd < 10) {
            dd = '0' + dd
        }

        if (mm < 10) {
            mm = '0' + mm
        }

        today = mm + '/' + dd + '/' + yyyy;
        employees.forEach((p) => {
            if (p._id === id) {
                document.getElementById('name').innerHTML = p.name;
                document.getElementById('designation').innerHTML = p.designation;
                document.getElementById('department').innerHTML = p.dept;
                document.getElementById('date').innerHTML = today;
                // document.getElementById('mobile').innerHTML = p.mobile;
                // document.getElementById('picture').src = '../../assets/pictures/' + p.picture;
                // document.getElementById('p_name').value = p.name;
                // document.getElementById('p_name').value = p.name;
                // document.getElementById('p_name').value = p.name;

            }
        })
    }
</script>

</html>