<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body onload="foot(footer)">
    <h1>Contract letter</h1>
    <div id="printableArea" style="text-align: center;">
        <div>
            <!-- header -->
            <div style="display: flex; padding: 5px">
                <div style="flex: 1; text-align: left">
                    <img src="../../images/Greeshams Logo.png" alt="" width="60%">
                </div>
                <div style="flex: 1;text-align: right;">
                    <h4 style="font-weight: 500; margin: 0%; padding: 0px">GRESHAM'S EASTERN [PRIVATE] LIMITED</h4>
                    <p style="font-weight: 500; padding: 0%; margin: 0%">Business Center
                        <span style="color: red">|</span>
                        P.E.C.H.S, Block-6</p>
                    <p style="font-weight: 500; padding: 0%; margin: 0%">Plot 19/1-A
                        <span style="color: red">|</span>
                        Suite 702, 7th Floor</p>
                    <p style="font-weight: 500; padding: 0%; margin: 0%">Main Shahrah-e-Faisal</p>
                    <p style="font-weight: 500; padding: 0%; margin: 0%">Karachi 75400
                        <span style="color: red">|</span>
                        Pakistan</p>
                    <br />
                    <p style="font-weight: 500; padding: 0%; margin: 0%">Tel: +92 21 343 24530 [06 Lines]</p>
                    <p style="font-weight: 500; padding: 0%; margin: 0%">Mobile: +92 300 24080</p>
                    <p style="font-weight: 500; padding: 0%; margin: 0%">Fax: +92 21 343 24080</p>
                    <p style="font-weight: 500; padding: 0%; margin: 0%">Sales@gel1947.com</p>
                </div>
            </div>
            <!-- end of header -->

            <!-- body -->
            <div style="display: flex; padding: 5px">
                <div style="flex: 1; text-align: left">
                    <p style="font-weight: 700; margin: 0; text-align: left; font-size: 14px">
                        Date:
                        <span style="font-weight: 400; margin: 10px 0px; text-align: left;  text-decoration: underline">
                            3 - 02 - 2019 .
                        </span>
                    </p>
                    <p style="font-weight: 500; padding: 0%; margin: 5px 1px">To,</p>
                    <p style="font-weight: 500; padding: 0%; margin: 5px 1px; text-decoration: underline">3 - 02 - 2019 .</p>
                </div>
                <div style="flex: 1; text-align-last: right">
                    <img src="https://avatars3.githubusercontent.com/u/35415573?s=400&u=e4522ec0b3e7566b61f78362871d2af454605c37&v=4" width="100px" height="100px" alt="" style="border: 1px solid black; padding: 1px">
                </div>
            </div>
            <div style="display: flex; text-align: center">
                <div style="flex: 1">
                    <p style="font-weight: 700; margin: 0; text-align: left; font-size: 16px">
                        Post:
                        <span style="font-weight: 400; margin: 10px 0px; text-align: left;  text-decoration: underline">
                            Assumenda at error Assumenda at error Assumenda at error Assumenda at error
                        </span>
                    </p>
                </div>
            </div>

            <div style="text-align: left">
                <h3 style="font-weight: bold; margin: 5px 0px">Respected Sir,</h3>
                <p style="font-size: 14px; margin: 3px 2px">Having come to know through reliable sources that subject vacancy in lying under your kind control and I
                    beg to offer any services for the same.</p>
                <p style="font-size: 14px; margin: 3px 2px">I am attaching my Bio, Data, Educational / Technical Documents with copy of NIC for your consideration.</p>
                <p style="font-size: 14px; margin: 3px 2px">In the light of above mention facts I home that my appointment for the above post would be considered and
                    give a change to serve your esteemed organization.</p>
                <p style="font-size: 14px; margin: 3px 2px">I assure you, that I shall prove my self honest, hardworking & capable for the duties assigned to me.</p>
            </div>
            <!-- end of body -->
            <div style="display: flex">
                <div style="flex: 1">
                    <h3 style="font-weight: bold; text-align: left">Thanking you in anticipation.</h3>
                </div>
                <div style="flex: 1">
                    <h3 style="font-weight: bold; text-align: right">Yours Faithfully.</h3>
                </div>
            </div>
            <!-- office -->
            <div style="display: flex">
                <div style="flex: 1">
                    <h2 style="font-weight: bold; color: white; background-color: black">For Department use only.</h2>
                </div>
            </div>
            <div style="display: flex; text-align: center">
                <div style="flex: 1">
                    <p style="font-weight: 700; margin: 10px 0px; text-align: left; font-size: 16px">
                        Employee Name:
                        <span style="font-weight: 400; margin: 10px 0px; text-align: left;  text-decoration: underline">
                            Assumenda at error
                        </span>
                    </p>
                </div>
                <div style="flex: 1">
                    <p style="font-weight: 700; margin: 10px 0px; text-align: left; font-size: 16px">
                        Contact No.:
                        <span style="font-weight: 400; margin: 10px 0px; text-align: left;  text-decoration: underline">
                            Assumenda at error
                        </span>
                    </p>
                </div>
            </div>
            <div style="display: flex; text-align: center">
                <div style="flex: 1">
                    <p style="font-weight: 700; margin: 10px 0px; text-align: left; font-size: 16px">
                        Date of Appointment:
                        <span style="font-weight: 400; margin: 10px 0px; text-align: left;  text-decoration: underline">
                            Assumenda at error
                        </span>
                    </p>
                </div>
                <div style="flex: 1">
                    <p style="font-weight: 700; margin: 10px 0px; text-align: left; font-size: 16px">
                        Salary / Wages:
                        <span style="font-weight: 400; margin: 10px 0px; text-align: left;  text-decoration: underline">
                            Assumenda at error
                        </span>
                    </p>
                </div>
            </div>

            <div style="display: flex; text-align: center">
                <div style="flex: 1">
                    <p style="font-weight: 700; margin: 0; text-align: left; font-size: 16px">
                        References:
                        <span style="font-weight: 400; margin: 10px 0px; text-align: left;  text-decoration: underline">
                            Assumenda at error Assumenda at error Assumenda at error Assumenda at error
                        </span>
                    </p>
                </div>
            </div>
            <div style="display: flex; text-align: center">
                <div style="flex: 1">
                    <p style="font-weight: 700; margin: 10px 0px; text-align: left; font-size: 16px">
                        Present Address:
                        <span style="font-weight: 400; margin: 0%; text-align: left;  text-decoration: underline">
                            Assumenda at error Assumenda at error Assumenda at error Assumenda at error
                        </span>
                    </p>
                </div>
            </div>
            <br />
            <br />
            <div style="display: flex; text-align: left">
                <div style="flex: 1">
                    <p style="font-weight: 700; padding: 5px; border-top: 1px solid black; text-align: center; font-size: 18px; display: inline-block;">
                        Manager Signature
                    </p>
                </div>
            </div>

            <!-- end of office -->
            <!-- footer -->
            <div id="footer">
            <div style="position: fixed; bottom: 20px; width: 85%">
                <span style="font-weight: 700;width: inherit; display: block; margin: 5px 0px; text-align: left; font-size: 16px; border-bottom: 1px solid black; padding: 2px; color: red">
                    www.gel1947.com
                </span>
                <span style="text-align: left">
                    <p style="font-weight: 500; padding: 0%; margin: 0%">Registered Office F-302 Sindh Industrial Trading Estate - site
                        <span style="color: red">|</span>
                        Karachi
                        <span style="color: red">|</span> Pakistan</p>
                    <p style="font-weight: 500; padding: 0%; margin: 0%">Regional Offices: lahore
                        <span style="color: red">|</span>
                        Rawalpindi</p>
                    <p style="font-weight: 500; padding: 0%; margin: 0%">Liasion: USA
                        <span style="color: red">|</span>
                        European Union
                        <span style="color: red">|</span> ROC</p>
                </span>
            </div>
            <div style="position: fixed; bottom: 0px; right: 70px; width: 15%">
                <img src="../../images/Greeshams Logo.png" width="170px" height="100px" alt="" style="border: 1px solid black; padding: 1px">
            </div>
        </div>
            <!-- end of footer -->
        </div>
    </div>
    <input type="button" onclick="printDiv(printableArea)" value="print a div!" />
</body>
<script>
    function printDiv(divName) {
        var printContents = divName.innerHTML;
        var originalContents = document.body.innerHTML;
        
        document.body.innerHTML = printContents;
        footer.style.display = "block"

        window.print();

        document.body.innerHTML = originalContents;
        footer.style.display = "none"        
    }

    function foot(footer){
        footer.style.display = "none"
    }
</script>

</html>