<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
        crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <title>Contract-letter - Human Resource Management</title>
    <style>
        @media only screen and (min-width: 993px) {
               nav a.button-collapse {
                   display: block;
               }
           }
       </style>
       <style type="text/css" media="print">
       
           @page {
               size: auto;   /* auto is the initial value */
               margin: 0;  /* this affects the margin in the printer settings */
               margin-left:20px;
               margin-right:20px;
               margin-bottom:20px;
   
           }
           </style>
        <style>
            .square {
          height: 15px;
          width: 15px;
          background-color: transparent;
          border: 1px solid black;
        }
        .square1 {
          height: 80px;
          /* width: 600px; */
          width: 100%;
          background-color: transparent;
          border: 1px solid black;
        }
        </style>
</head>

<body onload="foot(footer)">
    <div>
        <nav>
            <a data-target="slide-out" class="button-collapse sidenav-trigger btn-flat btn-large waves-effect waves-light"
                style="background: #EE6E73"><i class="material-icons">dehaze</i></a>

            <h3 style="color: white; text-align: center; padding: 15px 0px">Human Resource Management</h3>
        </nav>


        <ul id="slide-out" class="sidenav">
            <li>
                <div class="user-view">
                    <div class="background">
                        <img src="https://images.freeimages.com/images/small-previews/4f7/blank-sign-bullet-holes-1447150.jpg">
                    </div>
                    <a href="#user"><img class="circle" src="https://images.freeimages.com/images/small-previews/4f7/blank-sign-bullet-holes-1447150.jpg"></a>
                    <a href="#name"><span class="white-text name">John Doe</span></a>
                    <a href="#email"><span class="white-text email">jdandturk@gmail.com</span></a>
                </div>
            </li>
            <li class="no-padding">
                <ul class="collapsible">
                        <li>
                                <div class="collapsible-header">
                                    <a href="employees_list" style="display: block; color: black">Employees Details</a>
                                </div>
                            </li>
                        <li>
                                <div class="collapsible-header">
                                    <a href="add_applicant" style="display: block; color: black">Add Applicant</a>
                                </div>
                            </li>
                    <li>
                        <div class="collapsible-header">Add Employees</div>
                        <div class="collapsible-body">
                            <a href="add_employee" style="display: block; padding-left: 20px; color: black">Add Staff</a>
                            <a href="add_labour" style="display: block;  padding-left: 20px; color: black">Add Labour</a>
                        </div>


                    </li>
                    <li>
                        <div class="collapsible-header">Letters</div>
                        <div class="collapsible-body">
                            <a href="appointment_letter" style="display: block; padding-left: 20px;color: black">Appointment Letter</a>
                            <a href="contract_letter" style="display: block; padding-left: 20px;color: black">Contract Letter</a>
                            <a href="confirmation_letter" style="display: block; padding-left: 20px;color: black">Conformation Letter</a>
                            <a href="supported_docs" style="display: block; padding-left: 20px;color: black">Supported Docs</a>
                        </div>
                    </li>
                    <li>
                        <div class="collapsible-header">
                            <a href="leaves_applications" style="display: block; color: black">Leaves Application</a>
                        </div>
                    </li>
                    <li>
                        <div class="collapsible-header">
                            <a href="resignations_info" style="display: block;color: black">Resignation info</a>
                        </div>
                    </li>
                </ul>
            </li>
        </ul>

    </div>
<!-- end of nav -->
    

<div class="container-fluid">
    <div class="container">
            <h1>Emergency Contact Information</h1>
            <div class='form-control-inline' style='display:inline;'>
                    <input type='text' class='form-control' style='width:15em' onKeyUp="search_result(this)">
                    <div id='search_list'></div>
                </div>
            <input type="button" onclick="printDiv(printableArea)" value="print a div!" />
    </div>
    <div class="container">
            <div class="row">
                <div class="col-md-1">
                    &nbsp;
                </div>
                <div class="col-md-10">
                    <div class="card">
                            <div id="printableArea" style="text-align: center;margin: 50px">
                                <div>
                                    <!-- header -->
                                    <div style="display: flex; padding: 5px">
                                        <div style="flex: 1; text-align: left">
                                            <img src="../../images/Greeshams Logo.png" alt="" width="300px;">
                                
                                        </div>
                                
                                </div>
                                
                                
                                        <!-- end of header -->
                                
                                
                                <div style="margin-top:-40px;">
                                        <div>
                                            <h2 style=" font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; text-align:center; margin-top: 100px; margin-right: 160px; font-size: 16px; width:100%;   ">EMERGENCY
                                                CONTACT INFORMATION</h2>
                                        </div>
                                
                                
                                            <div style="text-align: left;">
                                                <h2 style="text-align: left; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; font-size: 16px; text-decoration: underline;">Employee Information</h2>
                                
                                            </div>
                                
                                            <div style="text-align: left;">
                                                    <h2 style="text-align: left; font-size: 16px; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; ">First Name _________________________</h2>
                                                    <h2 style="text-align: left; font-size: 16px; margin-left: 288px; margin-top: -30px; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; ">Last Name _________________________</h2>
                                                </div>
                                
                                                <br>
                                
                                
                                                <div style="text-align: left; margin-top: -20px;">
                                                    <h2 style="text-align: left; font-size: 16px; text-decoration: underline; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">Emergency Contact Name</h2>
                                    
                                                </div>
                                    
                                                <div style="text-align: left;">
                                                        <h2 style="text-align: left; font-size: 16px; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; ">Primary Contact Name ______________________________________________________________</h2>
                                                        <h2 style="text-align: left; font-size: 16px; margin-left: 1px; margin-top: 10px; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; ">Relationship To Employee ______________________________________________________________</h2>
                                                    </div>
                                
                                                    <br>
                                
                                
                                                    <div style="text-align: left; margin-top: -20px;">
                                                        <h2 style="text-align: left; font-size: 16px; text-decoration: underline; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">Emergency Home Address</h2>
                                                        <div class="square"></div>
                                                        <h2 style="text-align: left; font-size: 16px; margin-top: -15px; margin-left: 20px; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; ">Same Address/Phone As Employee</h2>
                                                    </div>
                                
                                
                                <br>
                                  <div style="text-align: left; margin-top: -20px;">
                                                        <h2 style="text-align: left; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; font-size: 16px; ">Country _______________________________________________________________________________</h2><br>
                                                        <h2 style="text-align: left; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; font-size: 16px; margin-top: -10px; ">Address 1 ______________________________________________________________________________</h2><br>
                                                        <h2 style="text-align: left; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; font-size: 16px; margin-top: -10px; ">Address 2 ______________________________________________________________________________</h2>
                                                    </div>
                                                
                                                    <div style="text-align: left;">
                                                            <h2 style="text-align: left; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; font-size: 16px;  margin-top: 20px;  ">City ________________________</h2>
                                                            <h2 style="text-align: left; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; font-size: 16px; margin-left: 250px; margin-top: -30px;   ">State _____________</h2>
                                                            <h2 style="text-align: left; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; font-size: 16px; margin-left: 425px; margin-top: -30px;  ">Postal Code _______________________</h2>
                                                        </div>
                                                     
                                                        <div style="text-align: left; width: 100%;">
                                                                <h2 style="text-align: left; font-size: 16px; margin-top:20px; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; ">Home Phone ____________________________</h2>
                                                            </div>
                                
                                                            <div style="text-align: left; margin-top: 25px;">
                                                                    <h2 style="text-align: left; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; font-size: 16px; ">Primary Office Phone _______________________</h2>
                                                                    <h2 style="text-align: left; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; font-size: 16px; margin-left: 350px; margin-top: -30px; ">Cellular Phone _______________________</h2>
                                                                </div>
                                
                                
                                                                <div style="text-align: left; margin-top: 20px;">
                                                                        <h2 style="text-align: left; font-size: 16px; ">Comments Text</h2>
                                                                        <div class="square1"></div>
                                                                       
                                                                    </div>
                                                                    <br>
                                                                    <div>
                                                                            <h2 style=" font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; font-weight: 100; font-size: 20px;  text-align:center; margin-left:10px; margin-top:50px;   border-top: 1px solid black ;  width: 200px; ">Print Name</h2>
                                                                            <h2 style=" font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; font-weight: 100; font-size: 20px;  text-align:center; margin-left:250px; margin-top:-40px;   border-top: 1px solid black ;  width: 200px; ">Signature</h2>
                                                                            <h2 style=" font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; font-weight: 100; font-size: 20px;  text-align:center; margin-left:500px; margin-top:-40px;   border-top: 1px solid black ;  width: 200px; ">Date</h2>
                                                                        </div>
                                </div>
                                
                                
                                <!-- footer -->
                                <div style="display: flex; padding: 5px">
                                        <div style="flex: 1; text-align: right">
                                            <img src="../../images/Quality Assured Logo.PNG" alt="" width="300px;">
                                
                                        </div>
                                
                                </div>
                                
                                
                                        <!-- end of Footer -->
                                
                                
                                
                                
                            </div>
                                </div>
                    </div>
                    
                </div>
                </div>
            </div>
           
    </div>
</div>
    
    
</body>
<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
crossorigin="anonymous"></script>

<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script>
    $(document).ready(function () {
        $('.collapsible').collapsible();
    });

    $(document).ready(function () {
        $('.sidenav').sidenav();
    });
</script>
<script>
     var labours = [];
        function load() {
            $.get('/modules/get_labours', function (data) {
                labours = data.labours;
                console.log(data);
            })
        }
        load();

        function printDiv(divName) {
        var printContents = divName.innerHTML;
        var originalContents = document.body.innerHTML;
        
        document.body.innerHTML = printContents;

        window.print();

        document.body.innerHTML = originalContents;
        $('.collapsible').collapsible();
        $('.sidenav').sidenav();         
    }


    function search_result(e) {
            if (e.value.length == 0) {
                document.getElementById('search_list').innerHTML = "";
                document.getElementById("search_list").style.border = "0px";
                return
            }
            let str = '<div style="max-height:8em;overflow:scroll"><ul>';
            labours.forEach((p) => {
                console.log(p.name)
                if (p.name.toLowerCase().indexOf(e.value.toLowerCase()) !== -1) {
                    str += `<li ><button class="btn btn-primary" onClick="fetch('` + p._id + `')">` + p.name + `</button></li>`
                }
            });
            str += '</ul></div>'
            console.log(str);
            document.getElementById('search_list').innerHTML = '';
            document.getElementById('search_list').innerHTML = str;
            document.getElementById("search_list").style.border = "1px";
            console.log(e.value);

        }
        function fetch(id) {
            //      alert(id);
            labours.forEach((p) => {
                if (p._id === id) {
                    document.getElementById('name').innerHTML = p.name;
                    document.getElementById('reference').innerHTML = p.reference;
                    document.getElementById('address').innerHTML = p.address;
                    document.getElementById('basic_salary').innerHTML = p.basic_salary;
                    document.getElementById('mobile').innerHTML = p.mobile;
                    document.getElementById('picture').src = '../../assets/pictures/'+p.picture;

                    // document.getElementById('p_name').value = p.name;
                    // document.getElementById('p_name').value = p.name;
                    // document.getElementById('p_name').value = p.name;

                }
            })
        }
</script>

</html>