<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Human Resources Management</title>
</head>
<body>
   <h1>Human Resources Management</h1>
   <a href='hrm/add_applicant' >Add Applicant</a>
   <a href='hrm/add_employee' >Add Employees</a>
   <a href='hrm/add_labour' >Add Labour</a>
   <a href='hrm/employees_list' >Employees Details</a> 
   <a href='hrm/leaves_applications' >Leaves Applications</a> 
   <a href='hrm/resignations_info' >Resignations Info</a> 

 
</body>
</html>