<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body style="padding:50px;">
    <div style='position: absolute;left:600px;'>
    <div style='position:absolute ; top:400;left:600;transform: rotate(0deg);
    transform-origin: 0px 200px;' >
            <span >1</span>
    </div>
    <div style='position:absolute ; top:400;left:600;transform: rotate(40deg);
    transform-origin: 0px 200px;' >
            <span >2</span>
    </div><div style='position:absolute ; top:400;left:600;transform: rotate(80deg);
    transform-origin: 0px 200px;' >
            <span >3</span>
    </div><div style='position:absolute ; top:400;left:600;transform: rotate(120deg);
    transform-origin: 0px 200px;' >
            <span >4</span>
    </div>
    <div style='position:absolute ; top:400;left:600;transform: rotate(160deg);
    transform-origin: 0px 200px;' >
            <span >5</span>
    </div>
    <div style='position:absolute ; top:400;left:600;transform: rotate(200deg);
    transform-origin: 0px 200px;' >
            <span >6</span>
    </div><div style='position:absolute ; top:400;left:600;transform: rotate(240deg);
    transform-origin: 0px 200px;' >
            <span >7</span>
    </div><div style='position:absolute ; top:400;left:600;transform: rotate(280deg);
    transform-origin: 0px 200px;' >
            <span >8</span>
    </div>
    <div style='position:absolute ; top:400;left:600;transform: rotate(320deg);
transform-origin: 0px 200px;' >
        <span >9</span>
</div>
</div>

    
</div>
</body>
</html>